<div class="atoria-item-actable-modifier-parts grid-2col">
    {{>"atoria.v2.commons_partials.cost-input" cost=item.system.cost
    data_path="system.cost" systemFields=systemFields.cost.fields cssClasses="double-col-field" complete_cost=true}}

    <label class="double-col-field">{{localize systemFields.restriction.label}}</label>
    <div class="double-col-field" style="display: grid;">
        <textarea
            class="textarea-auto-resize"
            style="grid-area: 1 / 1 / 2/ 2;"
            rows="1"
            data-name="restriction" data-dtype="String" name="system.restriction"
            {{disabled (not @root.editable)}}>{{cleanLines item.system.restriction}}</textarea>
        <div
        class="textarea-auto-resize-sibling"
        aria-hidden="true"
        style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
        >{{cleanLines item.system.restriction}}</div>
    </div>


    {{>"atoria.v2.commons_partials.textarea-input" value=item.system.effect systemFields=systemFields.effect data_path="system.effect" data_name="effect" cssClasses="double-col-field" disabled=(not @root.editable)}}

    {{>"atoria.v2.commons_partials.textarea-input" value=item.system.critical_effect systemFields=systemFields.critical_effect data_path="system.critical_effect" data_name="critical_effect" cssClasses="double-col-field" disabled=(not @root.editable)}}


    {{#if (eq item.type "incantatory-addition")}}
    <label>{{localize systemFields.require_verbal.label}}</label>
    {{ formInput systemFields.require_verbal value=item.system.require_verbal disabled=(not @root.editable)}}

    <label>{{localize systemFields.require_immobile.label}}</label>
    {{ formInput systemFields.require_immobile value=item.system.require_immobile disabled=(not @root.editable)}}

    <label>{{localize systemFields.travel.label}}</label>
        {{ formInput systemFields.travel value=item.system.travel disabled=(not @root.editable)}}

    <label>{{localize systemFields.somatic.label}}</label>
    <select name="system.somatic">
        {{selectOptions systemFields.somatic.choices selected=item.system.somatic localize=true}}
    </select>

    <label>{{localize systemFields.material.label}}</label>
    {{ formInput systemFields.material value=item.system.material disabled=(not @root.editable)}}

    {{/if}}

    {{>"atoria.v2.commons_partials.time-limitation-input" limitation=item.system.limitation
    data_path="system.limitation" systemFields=systemFields.limitation.fields cssClasses="double-col-field"}}

    {{#if systemFields.charge_compatible}}
    <label>{{localize systemFields.charge_compatible.label}}</label>
    {{ formInput systemFields.charge_compatible value=item.system.charge_compatible disabled=(not @root.editable)}}
    {{/if}}

    <div class="flexrow double-col-field">
        {{>"atoria.v2.items_partials.skill-alteration-input" skill_alteration=item.system.alteration
        item_actor=item.actor
        data_path="system.alteration" systemFields=systemFields.alteration.fields
        cssClasses=""}}
    </div>
</div>
