<div class="atoria-action-parts grid-2col">
    <fieldset class="atoria-cost-list-area double-col-field sub-element-category">
        <legend>{{localize systemFields.cost_list.label}}
            <a class="atoria-create-button" data-action="createSubItem" data-sub-element-path="cost_list" data-tooltip="{{localize systemFields.cost_list.label}}">
                <i class="fas fa-plus"></i>
            </a>
        </legend>
        <ul>
        {{#each item.system.cost_list as |cost_data idx|}}
            <li class="flexrow">
                {{>"atoria.v2.commons_partials.cost-input" cost=cost_data systemFields=../systemFields.cost_list.element.fields data_path=(concat "system.cost_list." idx)}}
                <a class="atoria-delete-button" data-action="deleteSubItem" data-sub-element-path="cost_list" data-sub-element-index="{{idx}}"
                data-tooltip="{{localize 'ATORIA.Sheet.Actable.Cost_list.Delete'}}">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
        {{/each}}
        </ul>
    </fieldset>

    <label>{{localize systemFields.is_magic.label}}</label>
    {{ formInput systemFields.is_magic value=item.system.is_magic disabled=(not @root.editable)}}

    {{#unless (or item.system.is_magic (eq item.type "opportunity"))}}
        <label>{{localize systemFields.associated_skill.label}}</label>
        <select name="system.associated_skill"
        data-tooltip="{{localize systemFields.associated_skill.label}}">
            {{selectOptions associated_skills selected=item.system.associated_skill sort=true localize=true blank="ATORIA.Sheet.Associated_skill_blank"}}
        </select>
    {{/unless}}
</div>
