<div class="atoria-item-armor-parts grid-2col">

    <label>{{localize systemFields.position.label}}</label>
    <select name="system.position"
    data-tooltip="{{localize systemFields.position.label}}">
        {{selectOptions systemFields.position.choices selected=item.system.position localize=true}}
    </select>

    <label>{{localize systemFields.armor_type.label}}</label>
    <select name="system.armor_type"
    data-tooltip="{{localize systemFields.armor_type.label}}">
        {{selectOptions systemFields.armor_type.choices selected=item.system.armor_type localize=true}}
    </select>

</div>