<div class="atoria-item-inventory-parts grid-2col">
    <fieldset class="double-col-field">
        <legend class="atoria-expand-control" data-action="expandSection" data-expand-id="system.keywords">{{localize systemFields.keywords.label}}</legend>
        <div class="atoria-expand-direct-data atoria-keywords-area">
            <div class="simple-area">
                {{# if (eq item.type "weapon")}}
                    {{ formInput systemFields.keywords.fields.two_handed
                    value=system.keywords.two_handed disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}
                    {{ formInput systemFields.keywords.fields.reach
                    value=system.keywords.reach disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}
                    {{ formInput systemFields.keywords.fields.brute
                    value=system.keywords.brute disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.equip
                    value=system.keywords.equip disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.fluxian
                    value=system.keywords.fluxian disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.smash
                    value=system.keywords.smash disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.guard
                    value=system.keywords.guard disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.throwable
                    value=system.keywords.throwable disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.light
                    value=system.keywords.light disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.heavy
                    value=system.keywords.heavy disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.penetrating
                    value=system.keywords.penetrating disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.versatile
                    value=system.keywords.versatile disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.protect
                    value=system.keywords.protect disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.protection
                    value=system.keywords.protection disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.quick
                    value=system.keywords.quick disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.recharge
                    value=system.keywords.recharge disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.reserve
                    value=system.keywords.reserve disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    additional_fields=(
                        formInput systemFields.keywords.fields.reserve_max
                        value=system.keywords.reserve_max disabled=(not @root.editable)
                    )
                    }}

                    {{ formInput systemFields.keywords.fields.somatic
                    value=system.keywords.somatic disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.sly
                    value=system.keywords.sly disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}
                {{/if}}
                {{# if (or (eq item.type "armor") (eq item.type "kit"))}}
                    {{ formInput systemFields.keywords.fields.gruff
                    value=system.keywords.gruff disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.noisy
                    value=system.keywords.noisy disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.tough
                    value=system.keywords.tough disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.obstruct
                    value=system.keywords.obstruct disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.grip
                    value=system.keywords.grip disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.resistant
                    value=system.keywords.resistant disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.sturdy
                    value=system.keywords.sturdy disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.somatic
                    value=system.keywords.somatic disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                    {{ formInput systemFields.keywords.fields.stable
                    value=system.keywords.stable disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    }}

                {{/if}}
            </div>
            <div class="complex-area">
                {{# if (or (eq item.type "armor") (eq item.type "kit"))}}
                    {{ formInput systemFields.keywords.fields.direct
                    classes="flexrow"
                    value=system.keywords.direct disabled=(not @root.editable)
                    input=@root.atoria_inputs.visualNumberInput
                    additional_fields=(
                        formInput systemFields.keywords.fields.direct_type
                        value=system.keywords.direct_type disabled=(not @root.editable)
                    )
                    }}
                {{/if}}

                <div class="flexrow">
                    {{ formGroup systemFields.keywords.fields.preserve.fields.active
                    value=system.keywords.preserve.active disabled=(not @root.editable) localize=true
                    }}
                    {{ formInput systemFields.keywords.fields.preserve.fields.max_amount
                    value=system.keywords.preserve.max_amount disabled=(not @root.editable) localize=true
                    }}
                    {{ formInput systemFields.keywords.fields.preserve.fields.type
                    value=system.keywords.preserve.type disabled=(not @root.editable) localize=true
                    }}
                    {{ formInput systemFields.keywords.fields.preserve.fields.increment
                    value=system.keywords.preserve.increment disabled=(not @root.editable) localize=true
                    }}
                </div>
            </div>
        </div>
    </fieldset>

    <label>{{localize systemFields.encumbrance.label}}</label>
    {{ formInput systemFields.encumbrance value=item.system.encumbrance disabled=(not @root.editable)}}


</div>
