<div class="atoria-item-kit-parts grid-2col">

    <label>{{localize systemFields.quantity.label}}</label>
    {{ formInput systemFields.quantity value=item.system.quantity disabled=(not @root.editable)}}


    <label>{{localize systemFields.has_usage_limit.label}}</label>
    {{ formInput systemFields.has_usage_limit value=item.system.has_usage_limit disabled=(not @root.editable)}}

    {{#if item.system.has_usage_limit}}
    <label>{{localize systemFields.usage_left.label}}</label>
    {{ formInput systemFields.usage_left value=item.system.usage_left disabled=(not @root.editable)}}
    <label>{{localize systemFields.usage_max.label}}</label>
    {{ formInput systemFields.usage_max value=item.system.usage_max disabled=(not @root.editable)}}
    {{/if}}


    <fieldset class="double-col-field">
        <legend>{{localize systemFields.skill_alterations.label}}
            <a class="atoria-create-button" data-action="createSubItem" data-sub-element-path="skill_alterations" data-tooltip="{{localize systemFields.skill_alterations.label}}">
                <i class="fas fa-plus"></i>
            </a></legend>

        {{>"atoria.v2.commons_partials.time-limitation-input" limitation=item.system.limitation systemFields=systemFields.limitation.fields
        data_path="system.limitation" cssClasses="double-col-field"}}

        {{#each item.system.skill_alterations as |skill_alteration key|}}
            <div class="flexrow double-col-field">
                {{>"atoria.v2.items_partials.skill-alteration-input" skill_alteration=skill_alteration
                item_actor=../item.actor associated_skills=@root.associated_skills
                data_path=(concat "system.skill_alterations." key) systemFields=../systemFields.skill_alterations.element.fields
                cssClasses=""}}

                <a class="atoria-delete-button" data-action="deleteSubItem" data-sub-element-path="skill_alterations" data-sub-element-index="{{key}}"
                data-tooltip="{{localize 'ATORIA.Sheet.Actable.Skill_Alterations.Delete'}}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        {{/each}}
    </fieldset>

</div>
