<section class='atoria tooltip'>
    <h5>{{item.name}}</h5>
    {{log @root}}
    {{#if keywords_recap.list}}
    <label>{{localize systemFields.keywords.label}}:
        {{keywords_recap.list}}
    </label>
    {{/if}}
    <p>Description: {{brNewLines item.system.description}}</p>
</section>
