{{#unless is_private}}
<div class="atoria dice dos-dice flexcol
{{#if is_success}}success{{/if}}
{{#if is_critical}}critical{{/if}}
">
    <h5 {{#if owner_or_gm}}data-tooltip-class="atoria-tooltip" data-tooltip="{{{descriptive_tooltip}}}"{{/if}}>{{title}}{{#if owner_or_gm}}: {{success_value}}{{/if}}</h5>
    <label class="alteration-label">
        {{#if adv_disadv}}
        <span>{{adv_disadv}}</span>
        {{/if}}
        {{#if luck_applied}}
        <span>{{localize "ATORIA.Ruleset.Luck"}}: {{luck_applied}}</span>
        {{/if}}
        {{#if dos_mod}}
        <span>{{localize "ATORIA.Chat_message.Dice.Dos"}}: {{dos_mod}}</span>
        {{/if}}
        {{#if is_danger}}
        <span>{{localize "ATORIA.Chat_message.Dice.Is_Danger"}}</span>
        {{/if}}
    </label>
    {{#if (or adv_disadv luck_applied dos_mod is_danger)}}
        <hr/>
    {{/if}}
    <div class="flexrow">
        {{#if is_success}}
            {{#if is_critical}}
                <label class="critial_success-title">{{localize "ATORIA.Chat_message.Dice.Critical_success"}}: {{dice_value}}</label>
            {{else}}
                <label class="success-title">{{localize "ATORIA.Chat_message.Dice.Success"}}: {{dice_value}}</label>
            {{/if}}
        {{else}}
            {{#if is_critical}}
                <label class="critial_failure-title">{{localize "ATORIA.Chat_message.Dice.Critical_failure"}}: {{dice_value}}</label>
            {{else}}
                <label class="failure-title">{{localize "ATORIA.Chat_message.Dice.Failure"}}: {{dice_value}}</label>
            {{/if}}
        {{/if}}

        <label class="result-degree" data-tooltip='{{{dice_tooltip}}}'>DR: {{degree_of_success}} ({{margin_of_success}})</label>
    </div>
    <div style="display:none">
        <label>{{dice_value}}/{{success_value}} = {{is_success}} - {{is_critical}}</label>
    </div>
    {{#if owner_or_gm}}
        <div class="used-features-area">
            {{{used_features}}}
        </div>
        <div class="used-supplementaries-area">
            {{{used_supplementaries}}}
        </div>
        <div class="used-actable-modifiers-area">
            {{{used_actable_modifiers}}}
        </div>
    {{/if}}
<div>
{{/unless}}
