<h5 class="expand-control">{{localize "ATORIA.Chat_message.Skill.Used_features"}}</h5>
<ul class="used_features expand-data">
{{#if used_features}}
    {{#each used_features as |feature key|}}
    <li>
        <label data-tooltip="{{feature.system.description}}">{{localize feature.name}}</label>
    </li>
    {{/each}}
{{else}}
    <li><label>{{localize "ATORIA.Chat_message.Skill.No_used_features"}}</label></li>
{{/if}}
</ul>