<h5 class="expand-control">{{localize "ATORIA.Chat_message.Spell.Used_supplementaries"}}</h5>
<ul class="used_supplementaries expand-data">
{{#if used_supplementaries}}
    {{#each used_supplementaries as |supplementary key|}}
    <li>
        <label data-tooltip="{{supplementary.tooltip}}">{{localize "ATORIA.Chat_message.Spell.Supplementary_name" key=key}}</label>
        <label>{{supplementary.description}}</label>
    </li>
    {{/each}}
{{else}}
    <li><label>{{localize "ATORIA.Chat_message.Spell.No_used_supplementaries"}}</label></li>
{{/if}}
</ul>