<div class="atoria dialog atoria-item-dialog grid-2col">
{{#if need_roll}}
    {{#if secondary_skill_data}}
    <select class="title double-col-field" class="atoria-skill-selector" name="associated_skill">
        <option value="main_skill_data">{{main_skill_data.label}}</option>
        <option value="secondary_skill_data">{{secondary_skill_data.label}}</option>
    </select>
    {{else}}
    <h3 class="title double-col-field">{{main_skill_data.label}}</h3>
    <input type="hidden" name="associated_skill" value="main_skill_data"/>
    {{/if}}

    {{#if (gt cost_list.length 1)}}
    <label>{{localize "ATORIA.Model.Action.Cost_list"}}:</label>
    {{else}}
    <label>{{localize "ATORIA.Model.Cost.Label"}}:</label>
    {{/if}}
    {{#each cost_list as |cost idx|}}
        {{>"atoria.v2.commons_partials.cost-display" cost=cost systemFields=../costSystemFields cssClasses="double-col-field cost-tooltip atoria-main"}}
    {{/each}}
    {{#if cost_secondary}}
        {{>"atoria.v2.commons_partials.cost-display" cost=cost_secondary systemFields=costSystemFields cssClasses="double-col-field cost-tooltip atoria-secondary"}}
    {{/if}}

    <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Advantage_amount" }}</label><input type="number" data-dtype="Number" name="advantage_amount" value="0"/></div>
    <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Disadvantage_amount" }}</label><input type="number" data-dtype="Number" name="disadvantage_amount" value="0"/></div>
    <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Luck_applied" }}</label><input type="number" data-dtype="Number" name="luck_applied" value="0"/></div>
    <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.DoS_mod" }}</label><input type="number" data-dtype="Number" name="dos_mod" value="0"/></div>

    <ul class="available-supplementaries double-col-field">
        {{#each available_supplementaries as |supplementary key|}}
            <li class="flexrow atoria-expand-control"
            oncontextmenu="if(window.event.button === 2){this.classList.toggle('expanded');}"
            >
                <input type="number" data-dtype="Number" name="available_supplementaries.{{key}}"
                value=0 min="0" max="{{supplementary.usage_max}}"
                {{disabled (and (ne supplementary.limitation.regain_type "permanent") (lte supplementary.limitation.usage_left 0))}}/>
                <h5>{{supplementary.name}}</h5>
                {{>"atoria.v2.commons_partials.time-limitation-display" limitation=supplementary.limitation
                systemFields=supplementary.systemFields.limitation.fields }}
            </li>
            <li class="atoria-expand-direct-data">
                <div class="flexrow">
                    {{>"atoria.v2.commons_partials.cost-display"
                        cost=supplementary.cost
                        systemFields=supplementary.systemFields.cost.fields
                    }}
                    <label>{{localize supplementary.systemFields.usage_max.label}}: {{supplementary.usage_max}}</label>
                </div>
                <p style="white-space: pre-line; max-width: 100%;">{{{supplementary.description}}}</p>
            </li>
        {{/each}}
    </ul>
{{/if}}
{{#if available_actable_modifiers}}
<ul class="available-actable_modifiers double-col-field">
    <!--TODO: redo this part -->
    {{#each available_actable_modifiers as |actable_mod key|}}
        <li class="flexrow atoria-expand-control"
        oncontextmenu="if(window.event.button === 2){this.classList.toggle('expanded');}">
            <input type="checkbox" data-dtype="Boolean" name="associated_actable_modifiers.{{actable_mod._id}}"
            {{disabled (and (lte actable_mod.system.limitation.usage_left 0) (ne actable_mod.system.limitation.regain_type "permanent"))}} />

            <h5>{{actable_mod.name}}</h5>

            <!--Alteration-->{{#if actable_mod.system.skill_alteration.has_skill_alteration}}
            <label>{{localize (lookup actable_mod.system.schema.fields.skill_alteration.fields.skill_alteration_type.choices actable_mod.system.skill_alteration.skill_alteration_type)}}</label>
            {{/if}}

            <!--Limitation-->
            {{#unless (eq actable_mod.system.limitation.regain_type "permanent")}}
            {{!-- <label class="usage">{{actable_mod.system.limitation.usage_left}} / {{actable_mod.system.limitation.usage_max}}</label>
            <label>{{actable_mod.system.limitation.regain_type}}</label> --}}

            {{>"atoria.v2.commons_partials.time-limitation-display" limitation=actable_mod.system.limitation
            systemFields=supplementary.systemFields.limitation.fields }}
            {{/unless}}
        </li>
        <li class="atoria-expand-direct-data">
            {{>"atoria.v2.commons_partials.cost-display"
                cost=actable_mod.system.cost
                systemFields=actable_mod.systemFields.cost.fields
            }}
            <p style="white-space: pre-line; max-width: 100%;">{{{actable_mod.system.description}}}</p>
        </li>
    {{/each}}
</ul>
{{/if}}
{{#if need_roll}}
    <ul class="available-features double-col-field">
        {{#each main_skill_data.associated_features as |feature key|}}
            <li class="flexrow atoria-expand-control" data-related-skill="main"
            oncontextmenu="if(window.event.button === 2){this.classList.toggle('expanded');}">
                <input type="checkbox" data-dtype="Boolean" name="associated_features.{{feature._id}}" {{disabled (and (lte feature.system.limitation.usage_left 0) (ne feature.system.limitation.regain_type "permanent"))}} />

                <h5>{{feature.name}}</h5>

                <!--Alteration-->{{#if feature.system.skill_alteration.has_skill_alteration}}
                <label>{{localize (lookup feature.system.schema.fields.skill_alteration.fields.skill_alteration_type.choices feature.system.skill_alteration.skill_alteration_type)}}</label>
                {{/if}}

                <!--Limitation-->{{#unless (eq feature.system.limitation.regain_type "permanent")}}
                {{!-- <label class="usage">{{feature.system.limitation.usage_left}} / {{feature.system.limitation.usage_max}}</label>
                <label>{{feature.system.limitation.regain_type}}</label> --}}

                {{>"atoria.v2.commons_partials.time-limitation-display" limitation=feature.system.limitation
                systemFields=supplementary.systemFields.limitation.fields }}
                {{/unless}}
            </li>
            <li class="atoria-expand-direct-data">
            <p style="white-space: pre-line; max-width: 100%;">{{{feature.system.description}}}</p>
            </li>
        {{/each}}
        {{#if secondary_skill_data}}
        {{#each secondary_skill_data.associated_features as |feature key|}}
            <li class="flexrow atoria-expand-control" data-related-skill="secondary"
                oncontextmenu="if(window.event.button === 2){this.classList.toggle('expanded');}">
                <input type="checkbox" data-dtype="Boolean" name="associated_features.{{feature._id}}" {{disabled (and (lte feature.system.limitation.usage_left 0) (ne feature.system.limitation.regain_type "permanent"))}} />

                <h5 data-tooltip="{{feature.system.description}}">{{feature.name}}</h5>

                <!--Alteration-->{{#if feature.system.skill_alteration.has_skill_alteration}}
                <label>{{localize (lookup feature.system.schema.fields.skill_alteration.fields.skill_alteration_type.choices feature.system.skill_alteration.skill_alteration_type)}}</label>
                {{/if}}

                <!--Limitation-->{{#unless (eq feature.system.limitation.regain_type "permanent")}}
                {{!-- <label class="usage">{{feature.system.limitation.usage_left}} / {{feature.system.limitation.usage_max}}</label>
                <label>{{feature.system.limitation.regain_type}}</label> --}}
                {{>"atoria.v2.commons_partials.time-limitation-display" limitation=feature.system.limitation
                systemFields=supplementary.systemFields.limitation.fields }}
                {{/unless}}
            </li>
            <li class="atoria-expand-direct-data">
            <p style="white-space: pre-line; max-width: 100%;">{{{feature.system.description}}}</p>
            </li>
        {{/each}}
        {{/if}}
    </ul>
    <label>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Label"}}</label>
    <select name="asked_visibility">
        {{#unless is_main_blind_roll}}
        <option value="public" {{#if (eq default_roll_mode "public")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Public"}}</option>
        <option value="private" {{#if (eq default_roll_mode "private")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Private"}}</option>
        <option value="self" {{#if (eq default_roll_mode "self")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Self"}}</option>
        {{/unless}}
        <option value="blind" {{#if (eq default_roll_mode "blind")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Blind"}}</option>
    </select>
{{/if}}
</div>
