<div class="atoria atoria-item-dialog">
    <div class="grid-2col">
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Advantage_amount" }}</label><input type="number" data-dtype="Number" name="advantage_amount" value="0"/></div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Disadvantage_amount" }}</label><input type="number" data-dtype="Number" name="disadvantage_amount" value="0"/></div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Luck_applied" }}</label><input type="number" data-dtype="Number" name="luck_applied" value="0"/></div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.DoS_mod" }}</label><input type="number" data-dtype="Number" name="dos_mod" value="0"/></div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Is_danger" }}</label><input type="checkbox" data-dtype="Boolean" name="is_danger"/></div>
    </div>

    {{#each available_skills_data as |available_skill_data _key|}}
        {{#if available_skill_data.group}}
        <div class="tab" data-group="{{available_skill_data.group}}" data-tab="{{available_skill_data.tab}}">
        {{else}}
        <div>
        {{/if}}
        {{#if available_skill_data.available_supplementaries}}
        <ul class="available-supplementaries double-col-field">
            {{#each available_skill_data.available_supplementaries as |supplementary key|}}
                <li class="flexrow atoria-expand-control" data-expand-id="supplementaries.{{supplementary.name}}" data-action="expandSection">
                    <input type="number" data-dtype="Number" name="used_supplementaries_{{available_skill_data.tab}}.{{key}}"
                    value=0 min="0" max="{{supplementary.usage_max}}"
                    {{disabled (and (ne supplementary.limitation.regain_type "permanent") (lte supplementary.limitation.usage_left 0))}}/>
                    <h5>{{supplementary.name}}</h5>
                    {{>"atoria.v2.commons_partials.time-limitation-display" limitation=supplementary.limitation
                    systemFields=supplementary.systemFields.limitation.fields }}
                </li>
                <li class="atoria-expand-direct-data">
                    <div class="flexrow">
                        {{>"atoria.v2.commons_partials.cost-display"
                            cost=supplementary.cost
                            systemFields=supplementary.systemFields.cost.fields
                        }}
                        <label>{{localize supplementary.systemFields.usage_max.label}}: {{supplementary.usage_max}}</label>
                    </div>
                    <p style="white-space: pre-line; max-width: 100%;">{{{supplementary.description}}}</p>
                </li>
            {{/each}}
        </ul>
        {{/if}}
        {{#if available_skill_data.available_keywords}}
        <ul class="available-keywords double-col-field">
            {{#each available_skill_data.available_keywords as |keyword_data key|}}
                <li class="flexrow atoria-expand-control" data-expand-id="keyword.{{keyword_data.name}}" data-action="expandSection">
                    <input type="checkbox" data-dtype="Boolean" name="used_keywords_{{available_skill_data.tab}}.{{keyword_data.name}}"
                    {{disabled (not keyword_data.usable)}}/>
                    <h5>{{keyword_data.label}}</h5>

                    {{>"atoria.v2.commons_partials.alteration-display" alteration=keyword_data.alteration
                    systemFields=keyword_data.systemFields.fields }}

                    {{#if keyword_data.time_phase}}
                    <img src='systems/atoria/imgs/regain-type-{{keyword_data.time_phase}}.svg' title='{{localize (lookup @root.ruleset.time_phases keyword_data.time_phase)}}'/>
                    {{/if}}
                </li>
                <li class="atoria-expand-direct-data">
                    <p style="white-space: pre-line; max-width: 100%;">{{{keyword_data.description}}}</p>
                </li>
            {{/each}}
        </ul>
        {{/if}}

        {{#if available_skill_data.available_features}}
        <ul class="available-features double-col-field">
            {{#each available_skill_data.available_features as |feature key|}}
                <li class="flexrow atoria-expand-control"  data-expand-id="features.{{feature._id}}" data-action="expandSection">
                    <input type="checkbox" data-dtype="Boolean" name="used_features_{{available_skill_data.tab}}|{{feature.uuid}}" {{disabled (and (lte feature.system.limitation.usage_left 0) (ne feature.system.limitation.regain_type "permanent"))}}/>
                    <h5>{{feature.name}}</h5>
                    <!--Alteration-->
                    {{#each feature.system.skill_alterations as |skill_alteration key|}}
                        {{#if (eq skill_alteration.associated_skill available_skill_data.path) }}
                        {{>"atoria.v2.commons_partials.alteration-display" alteration=skill_alteration
                        systemFields=feature.systemFields.skill_alterations.element.fields }}
                        {{/if}}
                    {{/each}}

                    <!--Limitation-->
                    {{>"atoria.v2.commons_partials.time-limitation-display" limitation=feature.system.limitation
                    systemFields=feature.systemFields.limitation.fields }}
                </li>
                <li class="atoria-expand-direct-data">
                    <p style="white-space: pre-line; max-width: 100%;">{{{feature.system.description}}}</p>
                </li>
            {{/each}}
        </ul>
        {{/if}}

        {{#if available_skill_data.available_actable_modifiers}}
        <ul class="available-actable-modifiers double-col-field">
            {{#each available_skill_data.available_actable_modifiers as |actable_mod key|}}
                <li class="flexrow atoria-expand-control"  data-expand-id="actable_modifiers.{{actable_mod._id}}" data-action="expandSection">
                    <input type="checkbox" data-dtype="Boolean" name="used_actable_modifiers_{{available_skill_data.tab}}|{{actable_mod.uuid}}"
                    {{disabled (and (lte actable_mod.system.limitation.usage_left 0) (ne actable_mod.system.limitation.regain_type "permanent"))}} />

                    <h5>{{actable_mod.name}}</h5>

                    <!--Alteration-->
                    {{>"atoria.v2.commons_partials.alteration-display" alteration=actable_mod.system.alteration
                    systemFields=actable_mod.systemFields.alteration.fields }}

                    <!--Limitation-->
                    {{#unless (eq actable_mod.system.limitation.regain_type "permanent")}}
                    {{!-- <label class="usage">{{actable_mod.system.limitation.usage_left}} / {{actable_mod.system.limitation.usage_max}}</label>
                    <label>{{actable_mod.system.limitation.regain_type}}</label> --}}

                    {{>"atoria.v2.commons_partials.time-limitation-display" limitation=actable_mod.system.limitation
                    systemFields=supplementary.systemFields.limitation.fields }}
                    {{/unless}}
                </li>
                <li class="atoria-expand-direct-data">
                    {{>"atoria.v2.commons_partials.cost-display"
                        cost=actable_mod.system.cost
                        systemFields=actable_mod.systemFields.cost.fields
                    }}
                    <label>{{localize actable_mod.systemFields.restriction.label}}</label>
                    <p style="white-space: pre-line; max-width: 100%;">{{{actable_mod.system.restriction}}}</p>
                    <label>{{localize actable_mod.systemFields.description.label}}</label>
                    <p style="white-space: pre-line; max-width: 100%;">{{{actable_mod.system.description}}}</p>
                </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    {{/each}}


    <div class="flexrow">
        <label>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Label"}}</label>
        <select name="asked_visibility">
            {{#unless is_main_blind_roll}}
            <option value="public" {{#if (eq default_roll_mode "public")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Public"}}</option>
            <option value="private" {{#if (eq default_roll_mode "private")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Private"}}</option>
            <option value="self" {{#if (eq default_roll_mode "self")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Self"}}</option>
            {{/unless}}
            <option value="blind" {{#if (eq default_roll_mode "blind")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Blind"}}</option>
        </select>
    </div>

    <footer class="form-footer">
        <button type="submit" data-action="ok" class="" autofocus="">
            <i class="fas fa-check"></i>
            <span>{{localize "ATORIA.Dialog.Launch"}}</span>
        </button>
    </footer>
</div>
