<form class="flexcol" autocomplete="off">
    {{{log knowledges}}}
    {{#each knowledges as |knowledge_cats g_key|}}
      <h3 id="catname">{{knowledge_cats.name}}</h3>
        {{#each knowledge_cats.sorted_knowledges_cat as |knowledge_key key|}}
            {{#with (lookup ../sub_knowledges [knowledge_key]) as |knowledge|}}
            <div class="flexrow">
                <input type="checkbox" id="{{key}}" name="knowledges.{{g_key}}.{{key}}.known" value="{{knowledge.known}}" data-dtype="Boolean" {{checked knowledge.known}}/>
                <label class="name" for="{{key}}">{{knowledge.name}}</label>
            </div>
            {{/with}}
        {{/each}}
    {{/each}}
  <button type="submit">
    <i class="far fa-save"></i> {{localize "Save"}}
  </button>
</form>