<form class="flexcol" autocomplete="off">
    <div class="flexcol">
        <div class="attributes flexcol">
            <label>{{ localize 'ATORIA.Name' }}</label>
            <input name="name" type="text" value="{{name}}" placeholder="{{ localize 'ATORIA.ItemName' }}"/>
            <label class="health">{{ localize 'ATORIA.HealthMax' }}</label>
            <input name="health.max" type="number" value="{{health.max}}" placeholder="{{ localize 'ATORIA.HealthMax' }}"/>
            <label class="stamina">{{ localize 'ATORIA.StaminaMax' }}</label>
            <input name="stamina.max" type="number" value="{{stamina.max}}" placeholder="{{ localize 'ATORIA.StaminaMax' }}"/>
            <label class="mana">{{ localize 'ATORIA.ManaMax' }}</label>
            <input name="mana.max" type="number" value="{{mana.max}}" placeholder="{{ localize 'ATORIA.ManaMax' }}"/>
            {{#if isCharacter}}
                <label class="sanity">{{ localize 'ATORIA.SanityMax' }}</label>
                <input name="sanity.max" type="number" value="{{sanity.max}}" placeholder="{{ localize 'ATORIA.SanityMax' }}"/>
                <label class="endurance">{{ localize 'ATORIA.EnduranceMax' }}</label>
                <input name="endurance.max" type="number" value="{{endurance.max}}" placeholder="{{ localize 'ATORIA.EnduranceMax' }}"/>
                <label class="encumbrance">{{ localize 'ATORIA.EncumbranceMax' }}</label>
                <input name="encumbrance.max" type="number" value="{{encumbrance.max}}" placeholder="{{ localize 'ATORIA.EncumbranceMax' }}"/>
            {{/if}}

            <label class="armor">{{ localize 'ATORIA.Armor' }}</label>
            <input name="armor" type="number" value="{{armor}}" placeholder="{{ localize 'ATORIA.Armor' }}"/>
            <label class="initiative">{{ localize 'ATORIA.Initiative' }}</label>
            <input name="initiative" type="text" value="{{initiative}}" placeholder="{{ localize 'ATORIA.Initiative' }}"/>
            <label class="movement">{{ localize 'ATORIA.Movement' }}</label>
            <input name="movement" type="number" value="{{movement}}" placeholder="{{ localize 'ATORIA.Movement' }}"/>
        </div>
        <div class="perceptions">
            <div class="perception flexrow">
                <label class="perception-label">{{ localize 'ATORIA.Perception.Sight' }}</label>
                <input name="perceptions.sight.success_value" type="number" value="{{perceptions.sight.success_value}}" placeholder="{{ localize 'ATORIA.SuccessValue' }}" title="{{ localize 'ATORIA.SuccessValue' }}"/>
                <input name="perceptions.sight.critical_mod" type="number" value="{{perceptions.sight.critical_mod}}" placeholder="{{ localize 'ATORIA.CriticalMod' }}"  title="{{ localize 'ATORIA.CriticalMod' }}"/>
                <input name="perceptions.sight.fumble_mod" type="number" value="{{perceptions.sight.fumble_mod}}" placeholder="{{ localize 'ATORIA.FumbleMod' }}"/>
            </div>
            <div class="perception flexrow">
                <label class="perception-label">{{ localize 'ATORIA.Perception.Taste' }}</label>
                <input name="perceptions.taste.success_value" type="number" value="{{perceptions.taste.success_value}}" placeholder="{{ localize 'ATORIA.SuccessValue' }}" title="{{ localize 'ATORIA.SuccessValue' }}"/>
                <input name="perceptions.taste.critical_mod" type="number" value="{{perceptions.taste.critical_mod}}" placeholder="{{ localize 'ATORIA.CriticalMod' }}"  title="{{ localize 'ATORIA.CriticalMod' }}"/>
                <input name="perceptions.taste.fumble_mod" type="number" value="{{perceptions.taste.fumble_mod}}" placeholder="{{ localize 'ATORIA.FumbleMod' }}" title="{{ localize 'ATORIA.FumbleMod' }}"/>
            </div>
            <div class="perception flexrow">
                <label class="perception-label">{{ localize 'ATORIA.Perception.Hearing' }}</label>
                <input name="perceptions.hearing.success_value" type="number" value="{{perceptions.hearing.success_value}}" placeholder="{{ localize 'ATORIA.SuccessValue' }}" title="{{ localize 'ATORIA.SuccessValue' }}"/>
                <input name="perceptions.hearing.critical_mod" type="number" value="{{perceptions.hearing.critical_mod}}" placeholder="{{ localize 'ATORIA.CriticalMod' }}"  title="{{ localize 'ATORIA.CriticalMod' }}"/>
                <input name="perceptions.hearing.fumble_mod" type="number" value="{{perceptions.hearing.fumble_mod}}" placeholder="{{ localize 'ATORIA.FumbleMod' }}" title="{{ localize 'ATORIA.FumbleMod' }}"/>
            </div>
            <div class="perception flexrow">
                <label class="perception-label">{{ localize 'ATORIA.Perception.Smell' }}</label>
                <input name="perceptions.smell.success_value" type="number" value="{{perceptions.smell.success_value}}" placeholder="{{ localize 'ATORIA.SuccessValue' }}" title="{{ localize 'ATORIA.SuccessValue' }}"/>
                <input name="perceptions.smell.critical_mod" type="number" value="{{perceptions.smell.critical_mod}}" placeholder="{{ localize 'ATORIA.CriticalMod' }}"  title="{{ localize 'ATORIA.CriticalMod' }}"/>
                <input name="perceptions.smell.fumble_mod" type="number" value="{{perceptions.smell.fumble_mod}}" placeholder="{{ localize 'ATORIA.FumbleMod' }}" title="{{ localize 'ATORIA.FumbleMod' }}"/>
            </div>
            <div class="perception flexrow">
                <label class="perception-label">{{ localize 'ATORIA.Perception.Magice' }}</label>
                <input name="perceptions.magice.success_value" type="number" value="{{perceptions.magice.success_value}}" placeholder="{{ localize 'ATORIA.SuccessValue' }}" title="{{ localize 'ATORIA.SuccessValue' }}"/>
                <input name="perceptions.magice.critical_mod" type="number" value="{{perceptions.magice.critical_mod}}" placeholder="{{ localize 'ATORIA.CriticalMod' }}"  title="{{ localize 'ATORIA.CriticalMod' }}"/>
                <input name="perceptions.magice.fumble_mod" type="number" value="{{perceptions.magice.fumble_mod}}" placeholder="{{ localize 'ATORIA.FumbleMod' }}" title="{{ localize 'ATORIA.FumbleMod' }}"/>
            </div>
            <div class="perception flexrow">
                <label class="perception-label">{{ localize 'ATORIA.Perception.Instinct' }}</label>
                <input name="perceptions.instinct.success_value" type="number" value="{{perceptions.instinct.success_value}}" placeholder="{{ localize 'ATORIA.SuccessValue' }}" title="{{ localize 'ATORIA.SuccessValue' }}"/>
                <input name="perceptions.instinct.critical_mod" type="number" value="{{perceptions.instinct.critical_mod}}" placeholder="{{ localize 'ATORIA.CriticalMod' }}"  title="{{ localize 'ATORIA.CriticalMod' }}"/>
                <input name="perceptions.instinct.fumble_mod" type="number" value="{{perceptions.instinct.fumble_mod}}" placeholder="{{ localize 'ATORIA.FumbleMod' }}" title="{{ localize 'ATORIA.FumbleMod' }}"/>
            </div>
        </div>
    </div>
  <button type="submit">
    <i class="far fa-save"></i> {{localize "Save"}}
  </button>
</form>