<div class="atoria dialog flexcol">
    <div class="grid-3col">
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Advantage_amount" }}</label><input type="number" data-dtype="Number" name="advantage_amount" value="0"/></div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Disadvantage_amount" }}</label><input type="number" data-dtype="Number" name="disadvantage_amount" value="0"/></div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.DoS_mod" }}</label><input type="number" data-dtype="Number" name="dos_mod" value="0"/></div>

        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Luck_applied" }}</label><input type="number" data-dtype="Number" name="luck_applied" value="0" min="0"/></div>
        <div class="flexrow">
            <label>{{localize "ATORIA.Dialog.Roll.Aiming" }}</label>
            <select name="aiming_type">
            {{selectOptions aiming.type selected="none" localize=true}}
            </select>
        </div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Is_danger" }}</label><input type="checkbox" data-dtype="Boolean" name="is_danger"/></div>
    </div>

    {{#if is_thrown_weapon}}
        <h5>{{localize "ATORIA.Ruleset.Weapon.Thrown_malus_message"}}</h5>
    {{/if}}

    <ul>
    {{#each usable_keywords}}
        <li class="flexrow">
        <input
        type="checkbox" data-dtype="Boolean"
        {{disabled (and (lte this.limitation.usage_left 0) (ne this.limitation.regain_type "permanent"))}}
        name="usable_keywords.{{@index}}"
        id="usable_keywords.{{@index}}"/>
        <label for="usable_keywords.{{@index}}" data-tooltip="{{this.description}}" >{{this.name}}</label>

        <div style="display:flex;flex:0;min-width: fit-content;">
        <!--Alteration-->
        {{#each this.skill_alterations as |skill_alteration key|}}
            {{>"atoria.v2.commons_partials.alteration-display" alteration=skill_alteration
            systemFields=../this.systemFields.skill_alterations.element.fields }}
        {{/each}}

        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=this.limitation
        systemFields=this.systemFields.limitation.fields }}
        </div>
        </li>
    {{/each}}
    </ul>

    <ul>
    {{#each usable_supplementaries}}
        <li class="flexrow">
        <input
        type="checkbox" data-dtype="Boolean"
        {{disabled (and (lte this.limitation.usage_left 0) (ne this.limitation.regain_type "permanent"))}}
        name="usable_supplementaries.{{@index}}"
        id="usable_supplementaries.{{@index}}"/>
        <label for="usable_supplementaries.{{@index}}" data-tooltip="{{this.descriptive_tooltip}}" >{{this.name}}</label>

        <div style="display:flex;flex:0;min-width: fit-content;">

        <!--Limitation-->
        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=this.limitation
        systemFields=this.systemFields.limitation.fields }}
        </div>
        </li>
    {{/each}}
    </ul>

    <ul>
    {{#each usable_perks}}
        <li class="flexrow">
        <input
        type="checkbox" data-dtype="Boolean"
        {{disabled (and (lte this.limitation.usage_left 0) (ne this.limitation.regain_type "permanent"))}}
        name="usable_perks.{{@index}}"
        id="usable_perks.{{@index}}"/>
        <label for="usable_perks.{{@index}}" data-tooltip="{{this.description}}" >{{this.name}}</label>

        <div style="display:flex;flex:0;min-width: fit-content;">
        <!--Alteration-->
        {{#each this.skill_alterations as |skill_alteration key|}}
            {{>"atoria.v2.commons_partials.alteration-display" alteration=skill_alteration
            systemFields=../this.systemFields.skill_alterations.element.fields }}
        {{/each}}

        <!--Limitation-->
        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=this.limitation
        systemFields=this.systemFields.limitation.fields }}
        </div>
        </li>
    {{/each}}
    </ul>
</div>
