<div class="atoria dialog flexcol">
    <div class="grid-3col">
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Advantage_amount" }}</label><input type="number" data-dtype="Number" name="advantage_amount" value="0"/></div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Disadvantage_amount" }}</label><input type="number" data-dtype="Number" name="disadvantage_amount" value="0"/></div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.DoS_mod" }}</label><input type="number" data-dtype="Number" name="dos_mod" value="0"/></div>

        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Luck_applied" }}</label><input type="number" data-dtype="Number" name="luck_applied" value="0" min="0"/></div>
        <div class="flexrow">
            <label>{{localize "ATORIA.Dialog.Roll.Aiming" }}</label>
            <select name="aiming_type">
            {{selectOptions aiming.type selected="none" localize=true}}
            </select>
        </div>
        <div class="flexrow"><label>{{localize "ATORIA.Dialog.Roll.Is_danger" }}</label><input type="checkbox" data-dtype="Boolean" name="is_danger"/></div>
    </div>

    <div class="flexrow">
        {{#if is_apart_attack}}
            <h5>{{localize "ATORIA.Model.Weapon.Range"}}: {{weapon.system.range}}</h5>
        {{/if}}
        {{#if is_thrown_attack}}
            <h5>{{localize "ATORIA.Ruleset.Weapon.Thrown_malus_message"}}</h5>
        {{/if}}
    </div>

    {{#if usable_keywords}}
    <ul>
        <li><h3>{{localize "ATORIA.Dialog.Skill_setup.Keywords"}}</h3></li>
    {{#each usable_keywords}}
        <li class="flexrow">
        <input
        type="checkbox" data-dtype="Boolean"
        {{disabled (and (lte this.limitation.usage_left 0) (ne this.limitation.regain_type "permanent"))}}
        name="usable_keywords.{{@index}}"
        id="usable_keywords.{{@index}}"/>
        <label for="usable_keywords.{{@index}}" data-tooltip="{{this.description}}" >{{this.name}}</label>

        <div style="display:flex;flex:0;min-width: fit-content;">
        <!--Alteration-->
        {{#each this.skill_alterations as |skill_alteration key|}}
            {{>"atoria.v2.commons_partials.alteration-display" alteration=skill_alteration
            systemFields=../this.systemFields.skill_alterations.element.fields }}
        {{/each}}

        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=this.limitation
        systemFields=this.systemFields.limitation.fields }}
        </div>
        </li>
    {{/each}}
    </ul>
    {{/if}}

    {{#if usable_supplementaries}}
    <ul>
        <li><h3>{{localize "ATORIA.Dialog.Skill_setup.Supplementaries"}}</h3></li>
    {{#each usable_supplementaries}}
        <li class="flexrow">
        <input
        type="number"
        {{#if this.usage_max}}
            max="{{this.usage_max}}"
        {{/if}}
        value="0"
        {{disabled (and (lte this.limitation.usage_left 0) (ne this.limitation.regain_type "permanent"))}}
        name="usable_supplementaries.{{@index}}"
        id="usable_supplementaries.{{@index}}" />
        {{#if this.usage_max}}
        <label>/{{this.usage_max}}</label>
        {{/if}}
        <label for="usable_supplementaries.{{@index}}" data-tooltip="{{>"atoria.v2.tooltips_partials.supplementary-tooltip" supplementary=this }}" >{{this.name}}</label>

        <div style="display:flex;flex:0;min-width: fit-content;">
        {{>"atoria.v2.commons_partials.cost-display"
            cost=this.cost
            systemFields=this.systemFields.cost.fields
        }}

        <!--Limitation-->
        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=this.limitation
        systemFields=this.systemFields.limitation.fields }}
        </div>
        </li>
    {{/each}}
    </ul>
    {{/if}}

    {{#if usable_perks}}
    <ul>
        <li><h3>{{localize "ATORIA.Dialog.Skill_setup.Features"}}</h3></li>
    {{#each usable_perks}}
        <li class="flexrow">
        <input
        type="checkbox" data-dtype="Boolean"
        {{disabled (and (lte this.limitation.usage_left 0) (ne this.limitation.regain_type "permanent"))}}
        name="usable_perks.{{@index}}"
        id="usable_perks.{{@index}}"/>
        <label for="usable_perks.{{@index}}" data-tooltip="{{this.description}}" >{{this.name}}</label>

        <div style="display:flex;flex:0;min-width: fit-content;">
        <!--Alteration-->
        {{#each this.skill_alterations as |skill_alteration key|}}
            {{>"atoria.v2.commons_partials.alteration-display" alteration=skill_alteration
            systemFields=../this.systemFields.skill_alterations.element.fields }}
        {{/each}}

        <!--Limitation-->
        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=this.limitation
        systemFields=this.systemFields.limitation.fields }}
        </div>
        </li>
    {{/each}}
    </ul>
    {{/if}}

    {{#if usable_act_mod}}
    <ul>
        <li><h3>{{localize "ATORIA.Dialog.Skill_setup.Actable_mod"}}</h3></li>
    {{#each usable_act_mod}}
        <li class="flexrow">
        <input
        type="checkbox" data-dtype="Boolean"
        {{disabled (and (lte this.system.limitation.usage_left 0) (ne this.system.limitation.regain_type "permanent"))}}
        name="usable_act_mod.{{@index}}"
        id="usable_act_mod.{{@index}}"/>
        <label for="usable_act_mod.{{@index}}" data-tooltip="{{this.description}}" >{{this.name}}</label>

        <div style="display:flex;flex:0;min-width: fit-content;">
        <!--Alteration-->
        {{>"atoria.v2.commons_partials.alteration-display" alteration=this.system.alteration
        systemFields=this.systemFields.alteration.fields }}

        <!--Limitation-->
        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=this.system.limitation
        systemFields=this.systemFields.limitation.fields }}
        </div>
        </li>
    {{/each}}
    </ul>
    {{/if}}


</div>
