<li class="item actable-item horizontal-bar" data-item-id="{{item._id}}">
    {{#if (ne item.system.limitation.regain_type "permanent")}}
        <input class="item-update" data-name="system.limitation.usage_left"
        type="text" inputmode="numeric" data-dtype="Number"  value="{{item.system.limitation.usage_left}}"
        data-tooltip="{{localize item.systemFields.limitation.usage_left.label}}" {{disabled (not @root.editable)}}/>
        <input class="item-update" data-name="system.limitation.usage_max"
        type="text" inputmode="numeric" data-dtype="Number"  value="{{item.system.limitation.usage_max}}"
        data-tooltip="{{localize item.systemFields.limitation.usage_max.label}}" disabled />
        <label data-tooltip="{{localize item.systemFields.limitation.regain_type.label}}">{{item.system.limitation.regain_type}}</label>
    {{/if}}

    <label class="name rollable" data-item-id="{{item._id}}"
    data-tooltip="{{{item.descriptive_tooltip}}}" >{{item.name}}
    </label>
    {{#if @root.editable}}
    <a class="item-control edit-button" data-action="edit" data-tooltip="{{localize "ATORIA.Sheet.Item.Edit"}}">
        <i class="fas fa-edit"></i>
    </a>
    <a class="item-control delete-button" data-action="delete" data-tooltip="{{localize "ATORIA.Sheet.Item.Delete"}}">
        <i class="fas fa-trash"></i>
    </a>
    {{/if}}
</li>
