<div class="cost-input {{#if deletable}}deletable{{/if}}">

        <input class="time" type="text" inputmode="numeric" data-dtype="Number"  name="{{data_path}}.time.main_amount" value="{{cost.time.main_amount}}"
            data-tooltip="{{localize systemFields.time.fields.main_amount.label}}">

        <select name="{{data_path}}.time.main_type">
        {{selectOptions systemFields.time.fields.main_type.choices selected=cost.time.main_type localize=true}}
        </select>

        <input class="time" type="text" inputmode="numeric" data-dtype="Number"  name="{{data_path}}.time.second_amount" value="{{cost.time.second_amount}}"
            data-tooltip="{{localize systemFields.time.fields.second_amount.label}}">
        <label>{{localize systemFields.time.fields.second_amount.label}}</label>

        <input class="health" type="text" inputmode="numeric" data-dtype="Number"  name="{{data_path}}.health" value="{{cost.health}}"
            data-tooltip="{{localize systemFields.health.label}}">
        <input class="mana" type="text" inputmode="numeric" data-dtype="Number"  name="{{data_path}}.mana" value="{{cost.mana}}"
            data-tooltip="{{localize systemFields.mana.label}}">
        <input class="stamina" type="text" inputmode="numeric" data-dtype="Number"  name="{{data_path}}.stamina" value="{{cost.stamina}}"
            data-tooltip="{{localize systemFields.stamina.label}}">
        <input class="endurance" type="text" inputmode="numeric" data-dtype="Number"  name="{{data_path}}.endurance" value="{{cost.endurance}}"
            data-tooltip="{{localize systemFields.endurance.label}}">

    {{#if deletable}}
    <a class="sub-element-control delete-button" data-action="delete" data-sub-element-index="{{idx}}" data-tooltip="{{localize 'ATORIA.Sheet.Actable.Cost_list.Delete'}}">
        <i class="fas fa-trash"></i>
    </a>
    {{/if}}
</div>