<div class="keywords-input {{cssClass}}">
    <h5 class="expand-control" data-expand-id="{{data_path}}">{{localize "ATORIA.Ruleset.Keywords.Label"}}</h5>
    <div class="expand-data">
        <div class="boolean-area">
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.noisy" {{checked keywords.noisy}}
            data-tooltip="{{localize systemFields.noisy.label}}"/>
            {{localize systemFields.noisy.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.noisy_more" {{checked keywords.noisy_more}}
            data-tooltip="{{localize systemFields.noisy_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.obstruct" {{checked keywords.obstruct}}
            data-tooltip="{{localize systemFields.obstruct.label}}"/>
            {{localize systemFields.obstruct.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.obstruct_more" {{checked keywords.obstruct_more}}
            data-tooltip="{{localize systemFields.obstruct_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.equip" {{checked keywords.equip}}
            data-tooltip="{{localize systemFields.equip.label}}"/>
            {{localize systemFields.equip.label}}
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.two_handed" {{checked keywords.two_handed}}
            data-tooltip="{{localize systemFields.two_handed.label}}"/>
            {{localize systemFields.two_handed.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.two_handed_more" {{checked keywords.two_handed_more}}
            data-tooltip="{{localize systemFields.two_handed_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.light" {{checked keywords.light}}
            data-tooltip="{{localize systemFields.light.label}}"/>
            {{localize systemFields.light.label}}
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.heavy" {{checked keywords.heavy}}
            data-tooltip="{{localize systemFields.heavy.label}}"/>
            {{localize systemFields.heavy.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.heavy_more" {{checked keywords.heavy_more}}
            data-tooltip="{{localize systemFields.heavy_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.quick" {{checked keywords.quick}}
            data-tooltip="{{localize systemFields.quick.label}}"/>
            {{localize systemFields.quick.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.quick_more" {{checked keywords.quick_more}}
            data-tooltip="{{localize systemFields.quick_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.somatic" {{checked keywords.somatic}}
            data-tooltip="{{localize systemFields.somatic.label}}"/>
            {{localize systemFields.somatic.label}}
            </label>
            {{!-- // Armor --}}
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.gruff" {{checked keywords.gruff}}
            data-tooltip="{{localize systemFields.gruff.label}}"/>
            {{localize systemFields.gruff.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.gruff_more" {{checked keywords.gruff_more}}
            data-tooltip="{{localize systemFields.gruff_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.tough" {{checked keywords.tough}}
            data-tooltip="{{localize systemFields.tough.label}}"/>
            {{localize systemFields.tough.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.tough_more" {{checked keywords.tough_more}}
            data-tooltip="{{localize systemFields.tough_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.sturdy" {{checked keywords.sturdy}}
            data-tooltip="{{localize systemFields.sturdy.label}}"/>
            {{localize systemFields.sturdy.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.sturdy_more" {{checked keywords.sturdy_more}}
            data-tooltip="{{localize systemFields.sturdy_more.label}}"/>
            </label>
            {{!-- // Weapon --}}
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.guard" {{checked keywords.guard}}
            data-tooltip="{{localize systemFields.guard.label}}"/>
            {{localize systemFields.guard.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.guard_more" {{checked keywords.guard_more}}
            data-tooltip="{{localize systemFields.guard_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.protect" {{checked keywords.protect}}
            data-tooltip="{{localize systemFields.protect.label}}"/>
            {{localize systemFields.protect.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.protect_more" {{checked keywords.protect_more}}
            data-tooltip="{{localize systemFields.protect_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.protection" {{checked keywords.protection}}
            data-tooltip="{{localize systemFields.protection.label}}"/>
            {{localize systemFields.protection.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.protection_more" {{checked keywords.protection_more}}
            data-tooltip="{{localize systemFields.protection_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.brutal" {{checked keywords.brutal}}
            data-tooltip="{{localize systemFields.brutal.label}}"/>
            {{localize systemFields.brutal.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.brutal_more" {{checked keywords.brutal_more}}
            data-tooltip="{{localize systemFields.brutal_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.smash" {{checked keywords.smash}}
            data-tooltip="{{localize systemFields.smash.label}}"/>
            {{localize systemFields.smash.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.smash_more" {{checked keywords.smash_more}}
            data-tooltip="{{localize systemFields.smash_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.penetrating" {{checked keywords.penetrating}}
            data-tooltip="{{localize systemFields.penetrating.label}}"/>
            {{localize systemFields.penetrating.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.penetrating_more" {{checked keywords.penetrating_more}}
            data-tooltip="{{localize systemFields.penetrating_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.sly" {{checked keywords.sly}}
            data-tooltip="{{localize systemFields.sly.label}}"/>
            {{localize systemFields.sly.label}}
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.versatile" {{checked keywords.versatile}}
            data-tooltip="{{localize systemFields.versatile.label}}"/>
            {{localize systemFields.versatile.label}}
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.reach" {{checked keywords.reach}}
            data-tooltip="{{localize systemFields.reach.label}}"/>
            {{localize systemFields.reach.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.reach_more" {{checked keywords.reach_more}}
            data-tooltip="{{localize systemFields.reach_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.throwable" {{checked keywords.throwable}}
            data-tooltip="{{localize systemFields.throwable.label}}"/>
            {{localize systemFields.throwable.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.throwable_more" {{checked keywords.throwable_more}}
            data-tooltip="{{localize systemFields.throwable_more.label}}"/>
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.recharge" {{checked keywords.recharge}}
            data-tooltip="{{localize systemFields.recharge.label}}"/>
            {{localize systemFields.recharge.label}}
            </label>
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.direct" {{checked keywords.direct}}
            data-tooltip="{{localize systemFields.direct.label}}"/>
            {{localize systemFields.direct.label}}
            <input class="more" type="checkbox" data-dtype="Boolean" name="{{data_path}}.direct_more" {{checked keywords.direct_more}}
            data-tooltip="{{localize systemFields.direct_more.label}}"/>
            </label>
        </div>
        {{!-- // Non booleans --}}
        <div class="non-boolean-area flexcol">
            <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.preserve" {{checked keywords.preserve}}
            data-tooltip="{{localize systemFields.preserve.label}}"/>
            {{localize systemFields.preserve.label}}

            <input type="text" inputmode="numeric" data-dtype="Number" 
            name="{{data_path}}.preserve_data.max_amount" value="{{keywords.preserve_data.max_amount}}"
            data-tooltip="{{systemFields.preserve_data.fields.max_amount.label}}"/>

            <select name="{{data_path}}.preserve_data.type"
            data-tooltip="{{localize systemFields.preserve_data.fields.type.label}}">
                {{selectOptions systemFields.preserve_data.fields.type.choices selected=keywords.preserve_data.type localize=true}}
            </select>

            <input type="text" inputmode="numeric" data-dtype="Number" 
            name="{{data_path}}.preserve_data.increment" value="{{keywords.preserve_data.increment}}"
            data-tooltip="{{systemFields.preserve_data.fields.increment.label}}"/>

            </label>

        </div>
    </div>
</div>




{{!-- preserve: new fields.BooleanField({ required: true, initial: false, label: "ATORIA.Ruleset.Keywords.Preserve.Label" }),
preserve_data: new fields.SchemaField({
    max_amount: new fields.NumberField({ required: true, nullable: false, initial: 1, label: "ATORIA.Ruleset.Keywords.Preserve.Max_amount" }),
    type: new fields.StringField({
        required: true, nullable: false, blank: false, choices: utils.ruleset.keywords.with_type.preserve,
        initial: Object.keys(utils.ruleset.keywords.with_type.preserve)[0], label: "ATORIA.Ruleset.Keywords.Preserve.Type"
    }),
    increment: new fields.NumberField({ required: true, nullable: false, initial: 1, label: "ATORIA.Ruleset.Keywords.Preserve.Increment" }),
}, { label: "ATORIA.Ruleset.Keywords.Preserve.Label" }),

direct: new fields.BooleanField({ required: true, initial: false, label: "ATORIA.Ruleset.Keywords.Direct" }),
direct_more: new fields.BooleanField({ required: true, initial: false, label: "ATORIA.Ruleset.Keywords.Direct_more" }),

