<div class="limitation-input flexrow {{cssClass}}">
    <select name="{{data_path}}.regain_type"
    data-tooltip="{{localize systemFields.regain_type.label}}">
        {{selectOptions systemFields.regain_type.choices selected=limitation.regain_type localize=true}}
    </select>

    <input type="hidden" inputmode="numeric" data-dtype="Number" 
    name="{{data_path}}.usage_left" value="{{limitation.usage_left}}"
    data-tooltip="{{localize systemFields.usage_left.label}}">
    {{#if (ne limitation.regain_type "permanent")}}
        <label class="usage-max">{{localize systemFields.usage_max.label}}</label>
        <input type="text" inputmode="numeric" data-dtype="Number" 
        name="{{data_path}}.usage_max" value="{{limitation.usage_max}}"
        data-tooltip="{{localize systemFields.usage_max.label}}">
    {{/if}}
</div>