<form class="atoria dialog skill-dialog">
<h2 class="title">{{skill_name}}</h2>
<input type="hidden" name="associated_skill" value="{{skill_path}}"/>
<label>Advantage amount: <input type="number" data-dtype="Number" name="advantage_amount" value="0"/></label>
<label>Disadvantage amount: <input type="number" data-dtype="Number" name="disadvantage_amount" value="0"/></label>
<label>Luck applied: <input type="number" data-dtype="Number" name="luck_applied" value="0"/></label>
<label>DoS mod: <input type="number" data-dtype="Number" name="dos_mod" value="0"/></label>
<ul class="available-features">
    {{#each associated_features as |feature key|}}
        <li class="flexrow">
            <input type="checkbox" data-dtype="Boolean" name="associated_features.{{feature._id}}" {{disabled (and (lte feature.system.limitation.usage_left 0) (ne feature.system.limitation.regain_type "permanent"))}} />
            <!--Alteration-->{{#if feature.system.skill_alteration.has_skill_alteration}}
            <label>{{localize (lookup feature.system.schema.fields.skill_alteration.fields.skill_alteration_type.choices feature.system.skill_alteration.skill_alteration_type)}}</label>
            {{/if}}
            <h5 data-tooltip="{{feature.system.description}}">{{feature.name}}</h5>

            <!--Limitation-->{{#unless (eq feature.system.limitation.regain_type "permanent")}}
            <label class="usage">{{feature.system.limitation.usage_left}} / {{feature.system.limitation.usage_max}}</label>
            <label>{{feature.system.limitation.regain_type}}</label>
            {{/unless}}
        </li>
    {{/each}}
</ul>
<label>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Label"}}</label>
<select name="asked_visibility">
    {{#unless is_blind_roll}}
    <option value="public" {{#if (eq default_roll_mode "public")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Public"}}</option>
    <option value="private" {{#if (eq default_roll_mode "private")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Private"}}</option>
    <option value="self" {{#if (eq default_roll_mode "self")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Self"}}</option>
    {{/unless}}
    <option value="blind" {{#if (eq default_roll_mode "blind")}}selected{{/if}}>{{localize "ATORIA.Dialog.Roll.Roll_visibility.Blind"}}</option>
</select>
</form>