<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    {{>"atoria.commons.simple-header" object=actor big_image=true}}
    <section class="content flexcol">
        <div class="inventory-title-line horizontal-bar flexrow">
            <h5 class="title">
                {{localize "ATORIA.Sheet.Inventory.Title"}}
                {{#if editable}}
                <a class="item-control create-button" data-action="create" data-type="kit" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.kit" )}}">
                    <i class="fas fa-plus"></i>
                </a>
                <a class="item-control create-button" data-action="create" data-type="armor" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.armor" )}}">
                    <i class="fas fa-plus"></i>
                </a>
                <a class="item-control create-button" data-action="create" data-type="weapon" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.weapon" )}}">
                    <i class="fas fa-plus"></i>
                </a>
                {{/if}}
            </h5>
            <input class="value" type="text" data-dtype="Number" data-tooltip="{{localize "ATORIA.Model.Encumbrance.Value"}}" value="{{numberFormat actor.system.encumbrance.value decimals=2}}" disabled/>
            <input class="max" type="text" data-dtype="Number" data-tooltip="{{systemFields.encumbrance.fields.max.label}}" name="system.encumbrance.max" value="{{actor.system.encumbrance.max}}" {{disabled (not editable)}}/>
        </div>
        {{#unless limited}}
        <ul class="item-list">
        {{#each items as |item idx|}}
            {{>"atoria.items_partials.inventory-item-display" item=item compact=true}}
        {{/each}}
        </ul>
        {{/unless}}
    </section>
</form>