<div class="spell-detail item flexcol" data-item-id="{{spell._id}}">
    <div class="name-area flexrow">
        {{#if isChatMessage}}
            <label class="name" data-type="spell-detail" data-id="{{spell._id}}" title="{{spell.name}}">{{spell.name}}</label>
        {{else}}
            <label class="name rollable" data-type="spell-detail" data-id="{{spell._id}}" title="{{spell.name}}">{{spell.name}}</label>
            <a class="config-button item-config" data-action="spell-item" >
                <i class="fas fa-cog"></i>
            </a>
            <a class="config-button item-delete" data-action="spell-item" >
                <i class="fas fa-trash"></i>
            </a>
        {{/if}}
    </div>

    <div class="flexrow">
        <label class="success-value-title">{{ localize "ATORIA.SpellSuccessValueTitle" }}</label>
        <label class="success-value" >{{spell.system.success_value}}</label>
        <label class="critical-title">{{ localize "ATORIA.SpellCriticalValueTitle" }}</label>
        <label class="critical" >{{spell.system.critical_value}}</label>
        <label class="fumble-title">{{ localize "ATORIA.SpellFumbleValueTitle" }}</label>
        <label class="fumble" >{{spell.system.fumble_value}}</label>
    </div>

    <div class="flexrow">
        <label class="cost-title">{{ localize "ATORIA.SpellCostTitle" }}</label>
        <label class="cost-input health" >{{spell.system.cost.health}}</label>
        <label class="cost-input mana" >{{spell.system.cost.mana}}</label>
        <label class="cost-input stamina" >{{spell.system.cost.stamina}}</label>
        <label class="cost-input endurance" >{{spell.system.cost.endurance}}</label>
    </div>

    {{!-- <label class="time-title category-title flex0" style="grid-row-end: span 2">{{ localize "ATORIA.SpellTimeTitle" }}</label> --}}

    <div class="flexrow">
        <label class="time-preparation-title">{{ localize "ATORIA.SpellTimePreparationTitle" }}</label>
        <label class="time-preparation" title="{{spell.system.time.preparation}}">{{spell.system.time.preparation}}</label>
    </div>
    <div class="flexrow">
        <label class="time-duration-title">{{ localize "ATORIA.SpellTimeDurationTitle" }}</label>
        <label class="time-duration" title="{{spell.system.time.duration}}">{{spell.system.time.duration}}</label>
        <label class="time-modifier">{{spell.system.time.modifier}}</label>
    </div>

    {{!-- <label class="components-title flex0 category-title" style="grid-row-end: span 5">{{ localize "ATORIA.SpellComponentsTitle" }}</label> --}}

    <div class="flexrow">
        <label class="components-verbal-title">{{ localize "ATORIA.SpellComponentsVerbalTitle" }}</label>
        <label class="components-verbal" title="{{spell.system.components.verbal}}">{{spell.system.components.verbal}}</label>
    </div>


    <div class="flexrow">
        <label class="components-somatic-title">{{ localize "ATORIA.SpellComponentsSomaticTitle" }}</label>
        <label class="components-somatic" title="{{spell.system.components.somatic}}">{{spell.system.components.somatic}}</label>
    </div>

    <div class="flexrow">
        <label class="components-material-title">{{ localize "ATORIA.SpellComponentsMaterialTitle" }}</label>
        <label class="components-material" title="{{spell.system.components.material}}">{{spell.system.components.material}}</label>
    </div>


    {{!-- <label class="targeting-title flex0 category-title" style="grid-row-end: span 3">{{ localize "ATORIA.SpellTargetingTitle" }}</label> --}}

    <div class="flexrow">
        <label class="targeting-target-title">{{ localize "ATORIA.SpellTargetingTargetTitle" }}</label>
        <label class="targeting-target" title="{{spell.system.targeting.target}}">{{spell.system.targeting.target}}</label>
    </div>
    <div class="flexrow">
        <label class="targeting-range-title">{{ localize "ATORIA.SpellTargetingRangeTitle" }}</label>
        <label class="targeting-range" title="{{spell.system.targeting.range}}">{{spell.system.targeting.range}}</label>
    </div>
    <div class="flexrow">
        <label class="targeting-area-title">{{ localize "ATORIA.SpellTargetingAreaTitle" }}</label>
        <label class="targeting-area" title="{{spell.system.targeting.area}}">{{spell.system.targeting.area}}</label>
    </div>

    <label class="effect-title flex0">{{ localize "ATORIA.SpellEffectTitle" }}</label>
    <label class="effect">{{{spell.system.effect_description}}}</label>

    <label class="spell-supp-title">{{ localize "ATORIA.SpellSuppTitle" }}</label>
    {{#each spell.system.spell_supps as |spell_supp key|}}
        <div class="spell-supp flexcol">
            <div class="flexrow">
                <label class="cost-input health">{{spell_supp.cost.health}}</label>
                <label class="cost-input mana">{{spell_supp.cost.mana}}</label>
                <label class="cost-input stamina">{{spell_supp.cost.stamina}}</label>
                <label class="cost-input endurance">{{spell_supp.cost.endurance}}</label>
                <label class="cost-input restriction">{{spell_supp.cost.restriction}}</label>
            </div>
            <label class="effect">{{{spell_supp.effect_description}}}</label>
        </div>
    {{/each}}
</div>