<section class="body">
    <div class="top-block">
        <div class="header-area flexcol">
            <div class="name-area">
                {{ formInput fields.name value=actor.name disabled=(not (and @root.isEditingMode @root.editable))}}
                <input data-action="toggleEditingMode" type="checkbox" data-dtype="Boolean" {{checked isEditingMode}}/>
            </div>

            <img class="atoria-document-img" data-action="onEditImage" src="{{actor.img}}" data-tooltip="{{actor.name}}" alt="{{actor.name}}" data-edit="img">

            <div class="flexrow">
                <div class="atoria-health atoria-progress-bar">
                <div class="progress" style="--bar-percentage: {{percentage actor.system.health.value actor.system.health.max}}%"></div>
                <label class="title" >{{localize systemFields.health.label}}</label>
                </div>
                {{#unless limited}}
                    <input class="health" type="text" data-dtype="Number" name="system.health.value" value="{{actor.system.health.value}}"
                    data-tooltip="{{systemFields.health.fields.value.label}}" {{disabled (not @root.editable)}}/>
                    <input class="health" type="text" data-dtype="Number" name="system.health.max" value="{{actor.system.health.max}}"
                    data-tooltip="{{systemFields.health.fields.max.label}}" {{disabled (not (and @root.isEditingMode @root.editable))}}/>
                {{/unless}}
            </div>
            <div class="flexrow">
                <div class="atoria-sanity atoria-progress-bar">
                <div class="progress" style="--bar-percentage: {{percentage actor.system.sanity.value actor.system.sanity.max}}%"></div>
                <label class="title" >{{localize systemFields.sanity.label}}</label>
                </div>
                {{#unless limited}}
                    <input class="sanity" type="text" data-dtype="Number" name="system.sanity.value" value="{{actor.system.sanity.value}}"
                    data-tooltip="{{systemFields.sanity.fields.value.label}}" {{disabled (not @root.editable)}}/>
                    <input class="sanity" type="text" data-dtype="Number" name="system.sanity.max" value="{{actor.system.sanity.max}}"
                    data-tooltip="{{systemFields.sanity.fields.max.label}}" {{disabled (not (and @root.isEditingMode @root.editable))}}/>
                {{/unless}}
            </div>
            <div class="flexrow">
                <div class="atoria-endurance atoria-progress-bar">
                    <div class="progress" style="--bar-percentage: {{percentage actor.system.endurance.value actor.system.endurance.max}}%"></div>
                    <label class="title" >{{localize systemFields.endurance.label}}</label>
                </div>
                {{#unless limited}}
                    <input class="endurance" type="text" data-dtype="Number" name="system.endurance.value" value="{{actor.system.endurance.value}}"
                    data-tooltip="{{systemFields.endurance.fields.value.label}}" {{disabled (not @root.editable)}}/>
                    <input class="endurance" type="text" data-dtype="Number" name="system.endurance.max" value="{{actor.system.endurance.max}}"
                    data-tooltip="{{systemFields.endurance.fields.max.label}}" {{disabled (not (and @root.isEditingMode @root.editable))}}/>
                {{/unless}}
            </div>
        </div>

        <div class="atoria-skill-area flexcol">
            <h5>{{localize systemFields.skills.label}}</h5>
            {{>"atoria.v2.actors_partials.skill-display" force_display=true skill=actor.system.perceptions data_path="system.perceptions" systemFields=systemFields.perceptions.fields}}

            {{>"atoria.v2.actors_partials.skill-display" force_display=true skill=actor.system.skills.physical data_path="system.skills.physical" systemFields=systemFields.skills.fields.physical.fields}}
            {{>"atoria.v2.actors_partials.skill-display" force_display=true skill=actor.system.skills.social data_path="system.skills.social" systemFields=systemFields.skills.fields.social.fields}}
            {{>"atoria.v2.actors_partials.skill-display" force_display=true skill=actor.system.skills.combative data_path="system.skills.combative" systemFields=systemFields.skills.fields.combative.fields}}
        </div>
        <div class="atoria-knowledge-area flexcol">
            <h5>{{localize systemFields.knowledges.label}}</h5>
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.alchemy  data_path="system.knowledges.alchemy" systemFields=systemFields.knowledges.fields.alchemy.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.jewellery  data_path="system.knowledges.jewellery" systemFields=systemFields.knowledges.fields.jewellery.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.sewing  data_path="system.knowledges.sewing" systemFields=systemFields.knowledges.fields.sewing.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.cuisine  data_path="system.knowledges.cuisine" systemFields=systemFields.knowledges.fields.cuisine.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.cabinet-making data_path="system.knowledges.cabinet-making" systemFields=systemFields.knowledges.fields.cabinet-making.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.forge  data_path="system.knowledges.forge" systemFields=systemFields.knowledges.fields.forge.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.engineering  data_path="system.knowledges.engineering" systemFields=systemFields.knowledges.fields.engineering.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.leatherworking  data_path="system.knowledges.leatherworking" systemFields=systemFields.knowledges.fields.leatherworking.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.song  data_path="system.knowledges.song" systemFields=systemFields.knowledges.fields.song.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.dance  data_path="system.knowledges.dance" systemFields=systemFields.knowledges.fields.dance.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.graphic  data_path="system.knowledges.graphic" systemFields=systemFields.knowledges.fields.graphic.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.music  data_path="system.knowledges.music" systemFields=systemFields.knowledges.fields.music.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.sculpture  data_path="system.knowledges.sculpture" systemFields=systemFields.knowledges.fields.sculpture.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.civilisation  data_path="system.knowledges.civilisation" systemFields=systemFields.knowledges.fields.civilisation.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.language  data_path="system.knowledges.language" systemFields=systemFields.knowledges.fields.language.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.medecine  data_path="system.knowledges.medecine" systemFields=systemFields.knowledges.fields.medecine.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.monstrology  data_path="system.knowledges.monstrology" systemFields=systemFields.knowledges.fields.monstrology.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.runic  data_path="system.knowledges.runic" systemFields=systemFields.knowledges.fields.runic.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.science  data_path="system.knowledges.science" systemFields=systemFields.knowledges.fields.science.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.symbolism  data_path="system.knowledges.symbolism" systemFields=systemFields.knowledges.fields.symbolism.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.zoology  data_path="system.knowledges.zoology" systemFields=systemFields.knowledges.fields.zoology.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.hunting  data_path="system.knowledges.hunting" systemFields=systemFields.knowledges.fields.hunting.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.construction  data_path="system.knowledges.construction" systemFields=systemFields.knowledges.fields.construction.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.dressage  data_path="system.knowledges.dressage" systemFields=systemFields.knowledges.fields.dressage.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.nature  data_path="system.knowledges.nature" systemFields=systemFields.knowledges.fields.nature.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.fishing  data_path="system.knowledges.fishing" systemFields=systemFields.knowledges.fields.fishing.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.strategy  data_path="system.knowledges.strategy" systemFields=systemFields.knowledges.fields.strategy.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.transport  data_path="system.knowledges.transport" systemFields=systemFields.knowledges.fields.transport.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.theft  data_path="system.knowledges.theft" systemFields=systemFields.knowledges.fields.theft.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.air  data_path="system.knowledges.air" systemFields=systemFields.knowledges.fields.air.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.druidic  data_path="system.knowledges.druidic" systemFields=systemFields.knowledges.fields.druidic.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.water  data_path="system.knowledges.water" systemFields=systemFields.knowledges.fields.water.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.fire  data_path="system.knowledges.fire" systemFields=systemFields.knowledges.fields.fire.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.occult  data_path="system.knowledges.occult" systemFields=systemFields.knowledges.fields.occult.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.mental  data_path="system.knowledges.mental" systemFields=systemFields.knowledges.fields.mental.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.holy  data_path="system.knowledges.holy" systemFields=systemFields.knowledges.fields.holy.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.blood  data_path="system.knowledges.blood" systemFields=systemFields.knowledges.fields.blood.fields}}
            {{>"atoria.v2.actors_partials.skill-display" skill=actor.system.knowledges.earth  data_path="system.knowledges.earth" systemFields=systemFields.knowledges.fields.earth.fields}}
        </div>
        <div class="atoria-hero-attribute">
            <h5>{{localize systemFields.unit_type.label}}</h5>
            {{#if @root.isEditingMode}}
                {{ formInput systemFields.unit_type value=system.unit_type disabled=(not (and @root.isEditingMode @root.editable))}}
            {{else}}
                {{#each (split system.unit_type ",") as |type idx|}}
                    <input type="text" value="{{type}}" disabled></input>
                {{/each}}
            {{/if}}


            {{#if @root.gm}}
            <h5>{{localize systemFields.favorite_god.label}}</h5>
            {{#if @root.isEditingMode}}
                {{ formInput systemFields.favorite_god value=system.favorite_god disabled=(not (and @root.isEditingMode @root.editable))}}
            {{else}}
                {{#each (split system.favorite_god ",") as |god idx|}}
                    <input type="text" value="{{god}}" disabled></input>
                {{/each}}
            {{/if}}
            {{/if}}

            {{#unless limited}}
            <h5>{{localize systemFields.language.label}}</h5>
            {{#if @root.isEditingMode}}
                {{ formInput systemFields.language value=system.language disabled=(not (and @root.isEditingMode @root.editable))}}
            {{else}}
                {{#each (split system.language ",") as |lang idx|}}
                    <input type="text" value="{{lang}}" disabled></input>
                {{/each}}
            {{/if}}
            {{/unless}}
        </div>

    </div>
    <div class="item-area">
        {{#unless limited}}
        {{#if (or @root.isEditingMode action_items.length)}}
        <div class="atoria-horizontal-bar flexrow colored">
            <h5 class="title">
                {{localize "ATORIA.Sheet.Action.Title"}}
            </h5>
            {{#if @root.editable}}
            <a class="atoria-create-button" data-action="createItem" data-type="action" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.action" )}}">
                <i class="fas fa-plus"></i>
            </a>
            <a class="atoria-create-button" data-action="createItem" data-type="opportunity" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.opportunity" )}}">
                <i class="fas fa-plus"></i>
            </a>
            <a class="atoria-create-button" data-action="createItem" data-type="spell" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.spell" )}}">
                <i class="fas fa-plus"></i>
            </a>
            {{/if}}
        </div>
        {{/if}}
        <ul class="item-list">
        {{#each action_items as |item idx|}}
            {{>"atoria.v2.actors_partials.item-line-display" item=item as="actable"}}
        {{/each}}
        </ul>
        {{/unless}}

        {{#unless limited}}
        {{#if (or @root.isEditingMode feature_items.length)}}
        <div class="atoria-horizontal-bar flexrow colored">
            <h5 class="title">
                {{localize "ATORIA.Sheet.Feature.Title"}}
            </h5>
            {{#if @root.editable}}
            <a class="atoria-create-button" data-action="createItem" data-type="feature" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.feature" )}}">
                <i class="fas fa-plus"></i>
            </a>
            {{/if}}
        </div>
        {{/if}}
        <ul class="item-list">
        {{#each feature_items as |item idx|}}
            {{>"atoria.v2.actors_partials.item-line-display" item=item}}
        {{/each}}
        </ul>
        {{/unless}}
        <div class="atoria-inventory-bar atoria-horizontal-bar flexrow colored">
            <h5 class="title">
                {{localize "ATORIA.Sheet.Inventory.Title"}}
            </h5>
            {{#if editable}}
                <img class="atoria-create-button" data-action="createItem" data-type="kit" data-open="true"
                data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.kit" )}}"
                src="systems/atoria/imgs/knapsack.svg" />

                <img class="atoria-create-button" data-action="createItem" data-type="armor" data-open="true"
                data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.armor" )}}"
                src="systems/atoria/imgs/kevlar.svg" />

                <img class="atoria-create-button" data-action="createItem" data-type="weapon" data-open="true"
                data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.weapon" )}}"
                src="systems/atoria/imgs/stiletto.svg" />
            {{/if}}
            {{>"atoria.v2.commons_partials.attribute-display" cssClass="atoria-encumbrance" attribute_model=systemFields.encumbrance attribute=actor.system.encumbrance}}
        </div>

        <div class="atoria-hero-ration-n-coins">
            <div class="atoria-hero-ration atoria-horizontal-bar">
                <h5>{{localize systemFields.ration.label}}</h5>
                {{ formInput systemFields.ration value=system.ration disabled=(not @root.editable)}}
            </div>
            {{#unless limited}}
            {{>"atoria.v2.actors_partials.coins-display" coins_model=systemFields.coins coins=actor.system.coins untitled=true}}
            {{/unless}}
        </div>

        {{#unless limited}}
        <ul class="item-list">
        {{#each inventory_items as |item idx|}}
            {{>"atoria.v2.actors_partials.item-line-display" item=item}}
        {{/each}}
        </ul>
        {{/unless}}
        {{#unless limited}}
        {{#if (or @root.isEditingMode actable_modifier_items.length)}}
        <div class="atoria-horizontal-bar flexrow colored">
            <h5 class="title">
                {{localize "ATORIA.Sheet.Actable_modifier.Title"}}
            </h5>
            {{#if @root.editable}}
            <a class="atoria-create-button" data-action="createItem" data-type="technique" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.technique" )}}">
                <i class="fas fa-plus"></i>
            </a>
            <a class="atoria-create-button" data-action="createItem" data-type="opportunity" data-tooltip="{{localize "ATORIA.Sheet.Item.Create" type=(localize "TYPES.Item.opportunity" )}}">
                <i class="fas fa-plus"></i>
            </a>
            {{/if}}
        </div>
        {{/if}}
        <ul class="item-list">
        {{#each actable_modifier_items as |item idx|}}
            {{>"atoria.v2.actors_partials.item-line-display" item=item}}
        {{/each}}
        </ul>
        {{/unless}}
    </div>
</section>
