<form class="test-dialog">
    <div class="dialog-sections flexcol">
        <div class="dialog-fields flex2">
            <div class="form-group">
                <label>{{localize "ATORIA.Luck"}}</label>
                <div class="form-fields">
                    <input type="number" value="{{modifier}}" name="modifier">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "ATORIA.SL_Modifier"}}</label>
                <div class="form-fields">
                    <input type="number" value="{{SL}}" name="SL">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "ATORIA.RollMode"}}</label>
                <div class="form-fields">
                    <select name="rollMode">
                        {{selectOptions rollModes selected=defaultRollMode localize=true}}
                    </select>
                </div>
            </div>
            <div class="flexcol">
            {{#each action_modifiers}}
                <div class="flexrow">
                    <input type="checkbox" name="action_modifiers_{{@key}}_used" data-dtype="Boolean" {{checked this.used}}/>
                    <div class="flexcol">
                        <label>{{this.restriction}}</label>
                        <label>{{this.cost}}</label>
                        <label>{{this.effect}}</label>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</form>