
<form class="action-sheet" autocomplete="off">
    <div class="flexcol">
        <label class="name-title">{{ localize "ATORIA.ActionNameTitle" }}
            {{#if isOwned}}
                <a class="delete-button item-delete flex0" data-action="action-item" data-id="{{item._id}}" >
                    <i class="fas fa-trash"></i>
                </a>
            {{/if}}
        </label>
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ATORIA.ActionNameTitle' }}"/>
        <label>{{ localize "ATORIA.SuccessValue" }}</label>
        <input name="system.success_value" type="text" value="{{item.system.success_value}}" placeholder="{{ localize 'ATORIA.SuccessValue' }}"/>
        <label>{{ localize "ATORIA.CriticalModifier" }}</label>
        <input name="system.critical_mod" type="text" value="{{item.system.critical_mod}}" placeholder="{{ localize 'ATORIA.CriticalModifier' }}"/>
        <label>{{ localize "ATORIA.FumbleModifier" }}</label>
        <input name="system.fumble_mod" type="text" value="{{item.system.fumble_mod}}" placeholder="{{ localize 'ATORIA.FumbleModifier' }}"/>
        <label>{{ localize "ATORIA.ActionEffectRollTitle" }}</label>
        <input name="system.effect_roll" type="text" value="{{item.system.effect_roll}}" placeholder="{{ localize 'ATORIA.ActionEffectRollTitle' }}"/>
        <label>{{ localize "ATORIA.ActionDescriptionTitle" }}</label>    
        <div class="description-area">
            {{editor descriptionHTML target="system.description" button=false editable=true engine="prosemirror" collaborate=false}}
        </div>
    </div>
</form>