<form class="gear-sheet" autocomplete="off">
    <div class="flexcol">
        <label class="name-title">{{ localize "ATORIA.ItemNameTitle" }}
            {{#if isOwned}}
                <a class="delete-button item-delete flex0" data-action="gear-item" data-id="{{item._id}}" >
                    <i class="fas fa-trash"></i>
                </a>
            {{/if}}
        </label>
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ATORIA.ItemName' }}"/>
        {{#if isWeapon}}
            <label>{{ localize "ATORIA.ItemDiceTitle" }}</label>
            <input name="system.damage_roll" type="text" value="{{item.system.damage_roll}}" placeholder="{{ localize 'ATORIA.DamageRoll' }}"/>
            
            
            <label>{{ localize "ATORIA.Combative" }}</label>
            <select name="system.linked_combative_skill">
                {{selectOptions config.COMBAT_SKILL selected=system.linked_combative_skill}}
            </select>

            <label>{{ localize "ATORIA.CriticalModifier" }}</label>
            <input name="system.critical_mod" type="text" value="{{item.system.critical_mod}}" placeholder="{{ localize 'ATORIA.CriticalModifier' }}"/>
            <label>{{ localize "ATORIA.FumbleModifier" }}</label>
            <input name="system.fumble_mod" type="text" value="{{item.system.fumble_mod}}" placeholder="{{ localize 'ATORIA.FumbleModifier' }}"/>
        {{/if}}
        {{#if isBagItem}}
            <label>{{ localize "ATORIA.ItemQuantityTitle" }}</label>
            <input name="system.quantity" type="text" value="{{item.system.quantity}}" placeholder="{{ localize 'ATORIA.Quantity' }}"/>
        {{/if}}
        <label>{{ localize "ATORIA.ItemEncumbranceTitle" }}</label>
        <input name="system.encumbrance" type="text" value="{{item.system.encumbrance}}" placeholder="{{ localize 'ATORIA.Encumbrance' }}"/>
        <label>{{ localize "ATORIA.ItemDescriptionTitle" }}</label>
        
        <div class="description-area">
            {{editor descriptionHTML target="system.description" button=false editable=true engine="prosemirror" collaborate=false}}
        </div>
        {{!-- <textarea name="system.description" type="text" placeholder="{{ localize 'ATORIA.Description' }}">{{item.system.description}}</textarea> --}}
    </div>
</form>