<form class="{{cssClass}} {{item.type}}" autocomplete="off">
    {{>"atoria.commons.simple-header" object=item big_image=false}}

    <section class="content">
        <label>{{localize systemFields.encumbrance.label}}</label>
        <input class="float-input" type="text" inputmode="numeric" data-dtype="Number" 
        name="system.encumbrance" value="{{item.system.encumbrance}}"
        data-tooltip="{{systemFields.encumbrance.label}}"/>

        <label>{{localize systemFields.associated_skill.label}}</label>
        <select name="system.associated_skill"  
        data-tooltip="{{localize systemFields.associated_skill.label}}
        {{#unless item.actor}}<br><label class='atoria error'>{{localize "ATORIA.Sheet.Weapon.Require_actor"}}</label>{{/unless}}
        ">
            {{selectOptions associated_skills selected=item.system.associated_skill localize=true blank="ATORIA.Sheet.Associated_skill_blank"}}
        </select>

        {{#if item.system.associated_skill}}
            <label>{{localize systemFields.damage_roll.label}}</label>
            {{>"atoria.commons.rollfield" rollfield=item.system.damage_roll
            data_path="system.damage_roll"
            systemFields=systemFields.damage_roll.fields hide_name=true}}
        {{/if}}

        <label>{{localize systemFields.is_focuser.label}}:</label>
        <input type="checkbox" data-dtype="Boolean" name="system.is_focuser" {{checked item.system.is_focuser}}
        data-tooltip="{{localize systemFields.is_focuser.label}}"/>

        {{#if item.system.is_focuser}}
            <label>{{localize systemFields.focuser_damage_roll.label}}</label>
            {{>"atoria.commons.rollfield" rollfield=item.system.focuser_damage_roll
            data_path="system.focuser_damage_roll"
            systemFields=systemFields.focuser_damage_roll.fields hide_name=true}}
        {{/if}}

        <h4 class="double-col-field">{{localize systemFields.modificators.label}}</h4>

        <label>{{localize systemFields.modificators.fields.success.label}}</label>
        <input class="formula-input" type="text" inputmode="numeric" data-dtype="Number"
        name="system.modificators.success" value="{{item.system.modificators.success}}"
        data-tooltip="{{systemFields.modificators.fields.success.label}}"/>

        <label>{{localize systemFields.modificators.fields.critical_success_modifier.label}}</label>
        <input class="formula-input" type="text" inputmode="numeric" data-dtype="Number"
        name="system.modificators.critical_success_modifier" value="{{item.system.modificators.critical_success_modifier}}"
        data-tooltip="{{systemFields.modificators.fields.critical_success_modifier.label}}"/>

        <label>{{localize systemFields.modificators.fields.critical_fumble_modifier.label}}</label>
        <input class="formula-input" type="text" inputmode="numeric" data-dtype="Number"
        name="system.modificators.critical_fumble_modifier" value="{{item.system.modificators.critical_fumble_modifier}}"
        data-tooltip="{{systemFields.modificators.fields.critical_fumble_modifier.label}}"/>


        {{>"atoria.items_partials.keywords-input" cssClass="double-col-field"
        data_path="system.keywords" keywords=item.system.keywords systemFields=systemFields.keywords.fields}}
    </section>
</form>