<form class="{{cssClass}} {{item.type}}" autocomplete="off">
    {{>"atoria.commons.simple-header" object=item big_image=false}}

    <section class="content">
        
        <div class="effect flexcol double-col-field">
            <label for="system.effect">{{localize systemFields.effect.label}}:</label>
            <textarea class="resize-ta" data-name="effect" data-dtype="String" name="system.effect"
            >{{cleanLines item.system.effect}}</textarea>
        </div>

        {{>"atoria.items_partials.limitation-input" systemFields=systemFields.limitation.fields
        limitation=item.system.limitation data_path="system.limitation" cssClass="double-col-field"}}

        <label>
        <input type="checkbox" data-dtype="Boolean" name="system.is_magic" {{checked item.system.is_magic}}
        data-tooltip="{{localize systemFields.is_magic.label}}"/>
        {{localize systemFields.is_magic.label}}
        </label>
        <label>
        <input type="checkbox" data-dtype="Boolean" name="system.is_opportunity" {{checked item.system.is_opportunity}}
        data-tooltip="{{localize systemFields.is_opportunity.label}}"/>
        {{localize systemFields.is_opportunity.label}}
        </label>

        <section class="cost-area double-col-field sub-element-category" data-path="cost_list">
            <h2>{{localize systemFields.cost_list.label}}
                <a class="sub-element-control create-button" data-action="create" data-tooltip="{{localize systemFields.cost_list.label}}">
                    <i class="fas fa-plus"></i>
                </a>
            </h2>
            <ul>
            {{#each item.system.cost_list as |cost idx|}}
                <li class="flexcol">
                    {{>"atoria.items_partials.cost-input" cost=cost systemFields=../systemFields.cost_list.element.fields
                    data_path=(concat "system.cost_list." idx) deletable=true idx=idx }}
                </li>
            {{/each}}
            </ul>
        </section>


        <label>
        <input type="checkbox" data-dtype="Boolean" name="system.require_immobile" {{checked item.system.require_immobile}}
        data-tooltip="{{localize systemFields.require_immobile.label}}"/>
        {{localize systemFields.require_immobile.label}}
        </label>

        <label>
        <input type="checkbox" data-dtype="Boolean" name="system.require_verbal" {{checked item.system.require_verbal}}
        data-tooltip="{{localize systemFields.require_verbal.label}}"/>
        {{localize systemFields.require_verbal.label}}
        </label>

        <label>{{localize systemFields.somatic.label}}</label>
        <select name="system.somatic"
        data-tooltip="{{localize systemFields.somatic.label}}">
            {{selectOptions systemFields.somatic.choices selected=item.system.somatic localize=true}}
        </select>

        <label>{{localize systemFields.material.label}}</label>
        <input type="text" data-dtype="String" name="system.material" value="{{item.system.material}}"
        data-tooltip="{{localize systemFields.material.label}}"/>

        <label>{{localize systemFields.duration.label}}</label>
        <input type="text" data-dtype="String" name="system.duration" value="{{item.system.duration}}"
        data-tooltip="{{localize systemFields.duration.label}}"/>

        <label>{{localize systemFields.range.label}}</label>
        <input type="text" data-dtype="String" name="system.range" value="{{item.system.range}}"
        data-tooltip="{{localize systemFields.range.label}}"/>

        <label>{{localize systemFields.target.label}}</label>
        <input type="text" data-dtype="String" name="system.target" value="{{item.system.target}}"
        data-tooltip="{{localize systemFields.target.label}}"/>

        <label>{{localize systemFields.area.label}}</label>
        <input type="text" data-dtype="String" name="system.area" value="{{item.system.area}}"
        data-tooltip="{{localize systemFields.area.label}}"/>


        <label>{{localize systemFields.associated_skill.label}}</label>
        <select name="system.associated_skill"  
        data-tooltip="{{localize systemFields.associated_skill.label}}
        {{#unless item.actor}}<br><label class='atoria error'>{{localize "ATORIA.Sheet.Actable.Require_actor"}}</label>{{/unless}}
        ">
            {{selectOptions associated_skills selected=item.system.associated_skill localize=true blank="ATORIA.Sheet.Associated_skill_blank"}}
        </select>

        <section class="saves-area double-col-field sub-element-category" data-path="saves_asked">
            <h2>{{localize systemFields.saves_asked.label}}
                <a class="sub-element-control create-button" data-action="create" data-tooltip="{{localize systemFields.saves_asked.label}}">
                    <i class="fas fa-plus"></i>
                </a>
            </h2>
            <ul>
            {{#each item.system.saves_asked as |cost idx|}}
                <li class="flexrow">
                    <select name="system.saves_asked.{{idx}}"  
                    data-tooltip="{{localize ../systemFields.saves_asked.element.label}}
                    {{#unless item.actor}}<br><label class='atoria error'>{{localize "ATORIA.Sheet.Actable.Require_actor"}}</label>{{/unless}}
                    ">
                        {{selectOptions ../associated_saves_skills selected=(lookup item.system.saves_asked idx) localize=true blank="ATORIA.Sheet.Associated_skill_blank"}}
                    </select>
                    <a class="sub-element-control delete-button" data-action="delete" data-sub-element-index="{{idx}}" data-tooltip="{{localize 'ATORIA.Sheet.Actable.Saves_asked.Delete'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </li>
            {{/each}}
            </ul>
        </section>


        <label>{{localize systemFields.usable_actable_modifiers.label}}</label>
        {{#if item.actor}}
            <ul>
                {{#each available_actable_modifiers as |actable_mod idx|}}
                    <li>
                        <input class="actable-modifier-toggle" type="checkbox" data-dtype="Boolean" 
                        data-actable-modifier-id="{{actable_mod._id}}"
                        {{checked (includes ../item.system.usable_actable_modifiers actable_mod._id)}}
                        data-tooltip="{{localize ../systemFields.usable_actable_modifiers.element.label}}"/>
                        <h3>{{actable_mod.name}}</h3>
                    </li>
                {{/each}}
            </ul>
        {{else}}
                <label class="error double-col-field">{{localize "ATORIA.Sheet.Actable.Require_actor"}}</label>
        {{/if}}

    </section>
</form>