<div class="feature-list-area flexcol" >
    <label class="title-label">{{ localize "ATORIA.CharacterFeatureTitle"}}</label>

    <div class="feature-list-category {{#if feature_list_cat_expandlist.combat.isExpanded}}expanded{{/if}}" data-cat-name="combat">
        <h2 class="feature-list-label">{{localize "ATORIA.FeatureCombat"}}
            <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="combat" >
                <i class="fas fa-plus"></i>
            </a>
            <a class="detail-button toggle-feature-list-category-visibility">
                {{#if feature_list_cat_expandlist.combat.isExpanded}}
                    <i class="fas fa-circle-info"></i>
                {{else}}
                    <i class="fas fa-circle-info"></i>
                {{/if}}
            </a>
        </h2>
        {{#each combat_features as |feature key|}}
            {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature feature_cat="combat"}}
        {{/each}}
    </div>

    <div class="feature-list-category {{#if feature_list_cat_expandlist.skill.isExpanded}}expanded{{/if}}" data-cat-name="skill">
        <h2 class="feature-list-label">{{localize "ATORIA.FeatureSkill"}}
            <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="skill" >
                <i class="fas fa-plus"></i>
            </a>
            <a class="detail-button toggle-feature-list-category-visibility">
                {{#if feature_list_cat_expandlist.skill.isExpanded}}
                    <i class="fas fa-circle-info"></i>
                {{else}}
                    <i class="fas fa-circle-info"></i>
                {{/if}}
            </a>
        </h2>
        {{#each skill_features as |feature key|}}
            {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature feature_cat="skill"}}
        {{/each}}
    </div>

    <div class="feature-list-category {{#if feature_list_cat_expandlist.magic.isExpanded}}expanded{{/if}}" data-cat-name="magic">
        <h2 class="feature-list-label">{{localize "ATORIA.FeatureMagic"}}
            <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="magic" >
                <i class="fas fa-plus"></i>
            </a>
            <a class="detail-button toggle-feature-list-category-visibility">
                {{#if feature_list_cat_expandlist.magic.isExpanded}}
                    <i class="fas fa-circle-info"></i>
                {{else}}
                    <i class="fas fa-circle-info"></i>
                {{/if}}
            </a>
        </h2>
        {{#each magic_features as |feature key|}}
            {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature feature_cat="magic"}}
        {{/each}}
    </div>

    <div class="feature-list-category {{#if feature_list_cat_expandlist.knowledge.isExpanded}}expanded{{/if}}" data-cat-name="knowledge">
        <h2 class="feature-list-label">{{localize "ATORIA.FeatureKnowledge"}}
            <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="knowledge" >
                <i class="fas fa-plus"></i>
            </a>
            <a class="detail-button toggle-feature-list-category-visibility">
                {{#if feature_list_cat_expandlist.knowledge.isExpanded}}
                    <i class="fas fa-circle-info"></i>
                {{else}}
                    <i class="fas fa-circle-info"></i>
                {{/if}}
            </a>
        </h2>
        {{#each knowledge_features as |feature key|}}
            {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature feature_cat="knowledge"}}
        {{/each}}
    </div>

    <div class="feature-list-category {{#if feature_list_cat_expandlist.other.isExpanded}}expanded{{/if}}" data-cat-name="other">
        <h2 class="feature-list-label">{{localize "ATORIA.FeatureOther"}}
            <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="other" >
                <i class="fas fa-plus"></i>
            </a>
            <a class="detail-button toggle-feature-list-category-visibility">
                {{#if feature_list_cat_expandlist.other.isExpanded}}
                    <i class="fas fa-circle-info"></i>
                {{else}}
                    <i class="fas fa-circle-info"></i>
                {{/if}}
            </a>
        </h2>
        {{#each other_features as |feature key|}}
            {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature feature_cat="other"}}
        {{/each}}
    </div>
</div>