<div class="combat">
    <label class="title-label">{{ localize "ATORIA.CombatTitle"}}
        <a class="add-button item-create flex0" data-type="action" data-action="action-item" >
            <i class="fas fa-plus"></i>
        </a>
    </label>
    {{#each actions as |action key|}}
        <div class="action-row item flexcol" data-item-id="{{action._id}}">
            <div class="flexrow">
                {{#if action.system.effect_roll}}
                    <label class="name-label flex0 rollable" data-type="action" data-id="{{action._id}}" title="{{action.name}}">{{action.name}}</label>
                    <label class="roll-label flex0">{{action.system.effect_roll}}</label>
                {{else}}
                    <label class="longname-label flex0 rollable" data-type="action" data-id="{{action._id}}" title="{{action.name}}">{{action.name}}</label>
                {{/if}}

                <label class="value-label flex0">{{action.system.success_value}}</label>

                <a class="detail-button item-detail flex0" data-action="action-item" data-id="{{action._id}}" >
                    <i class="fas fa-circle-info"></i>
                </a>
            </div>
            <label class="description-label flex0" data-id="{{action._id}}" style="{{action.display_value}}">{{action.system.description}}<a class="config-button item-config flex0" data-action="action-item" ><i class="fas fa-cog"></i></a></label>
        </div>
    {{/each}}
</div>