<div class="combat">
    <label class="title-label">{{ localize "ATORIA.CombatTitle"}}
        <a class="add-button item-create flex0" data-type="action" data-action="action-item">
            <i class="fas fa-plus"></i>
        </a>
    </label>
    <div class="flexrow">
        <div class="flex0 ">
            <div class="resources flexcol">
                <div class="resource flexrow">
                    <label class="resource-label armor">{{ localize "ATORIA.Armor"}}</label>
                    <label class="armor value-label">{{system.armor}}</label>
                </div>
                <div class="resource flexrow hotbar-able" data-type="initiative">
                    <label class="resource-label initiative rollable" data-type="initiative">{{ localize "ATORIA.Initiative"}}</label>
                    <label class="initiative value-label" title="{{system.initiative}}">{{system.initiative}}</label>
                </div>
                <div class="resource flexrow">
                    <label class="resource-label movement">{{ localize "ATORIA.Movement"}}</label>
                    <label class="movement value-label">{{system.movement}}</label>
                </div>
            </div>
        </div>
        <div class="flex0 skill">
            <div class="skill-row item-list">
                <div class="category-area" style="grid-row-end: span 3">
                    <label class="category-title">{{formatted_skill_reflex.name}}</label>
                </div>
                {{#each formatted_skill_reflex.sub_skills as |skill subkey|}}
                    <div class="flexrow hotbar-able" data-type="skill" data-id="{{skill.id}}">
                        <label class="name rollable" data-type="skill" data-id="{{skill.id}}">{{skill.name}}</label>
                        <label class="value-label">{{skill.success_value}}</label>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="flexcol item-list">
            {{#each combat_items as |combat_item key|}}
                <div class="action-row item flexcol {{#if combat_item.isExpanded}}expanded{{/if}}" data-item-id="{{combat_item._id}}">
                    <div class="flex0">
                        <div class="flexrow">
                            {{#if combat_item.system.effect_roll}}
                                <label class="name-label flex0 rollable" data-type="{{combat_item.type}}" data-id="{{combat_item._id}}" title="{{combat_item.name}}">{{combat_item.name}}</label>
                                <label class="roll-label flex0 elip_text" title="{{combat_item.system.effect_roll}}">{{combat_item.system.effect_roll}}</label>
                            {{else if combat_item.system.damage_roll}}
                                <label class="name-label flex0 rollable" data-type="{{combat_item.type}}" data-id="{{combat_item._id}}" title="{{combat_item.name}}">{{combat_item.name}}</label>
                                <label class="roll-label flex0 elip_text" title="{{combat_item.system.damage_roll}}">{{combat_item.system.damage_roll}}</label>
                            {{else}}
                                <label class="longname-label flex0 rollable" data-type="{{combat_item.type}}" data-id="{{combat_item._id}}" title="{{combat_item.name}}">{{combat_item.name}}</label>
                            {{/if}}

                            <label class="value-label flex0">{{combat_item.system.success_value}}</label>

                            <a class="detail-button item-detail flex0" data-action="{{combat_item.type}}-item" data-id="{{combat_item._id}}" >
                                <i class="fas fa-circle-info"></i>
                            </a>
                        </div>
                    </div>

                    <div class="description" data-item-id="{{combat_item._id}}">
                        {{#if combat_item.isExpanded}}
                            <label class="item-description">{{{lookup @root.expandedData combat_item._id}}}</label>
                        {{else}}
                            <label class="item-description"></label>
                        {{/if}}
                        <a class="config-button item-config flex0" data-action="{{combat_item.type}}-item" ><i class="fas fa-cog"></i></a>
                    </div>
                </div>
            {{/each}}


            {{!-- {{#each actions as |action key|}}
                <div class="action-row item flexcol {{#if action.isExpanded}}expanded{{/if}}" data-item-id="{{action._id}}">
                    <div class="flex0">
                        <div class="flexrow">
                            {{#if action.system.effect_roll}}
                                <label class="name-label flex0 rollable" data-type="action" data-id="{{action._id}}" title="{{action.name}}">{{action.name}}</label>
                                <label class="roll-label flex0">{{action.system.effect_roll}}</label>
                            {{else}}
                                <label class="longname-label flex0 rollable" data-type="action" data-id="{{action._id}}" title="{{action.name}}">{{action.name}}</label>
                            {{/if}}

                            <label class="value-label flex0">{{action.system.success_value}}</label>

                            <a class="detail-button item-detail flex0" data-action="action-item" data-id="{{action._id}}" >
                                <i class="fas fa-circle-info"></i>
                            </a>
                        </div>
                    </div>

                    <div class="description" data-item-id="{{action._id}}">
                        {{#if action.isExpanded}}
                            <label class="item-description">{{{lookup @root.expandedData action._id}}}</label>
                        {{else}}
                            <label class="item-description"></label>
                        {{/if}}
                        <a class="config-button item-config flex0" data-action="action-item" ><i class="fas fa-cog"></i></a>
                    </div>
                </div>
            {{/each}}
            {{#each gear_weapons as |weapon key|}}
                <div class="action-row item flexcol {{#if weapon.isExpanded}}expanded{{/if}}" data-item-id="{{weapon._id}}">
                    <div class="flex0">
                        <div class="flexrow">
                            {{#if weapon.system.damage_roll}}
                                <label class="name-label flex0 rollable" data-type="gear-weapon" data-id="{{weapon._id}}" title="{{weapon.name}}">{{weapon.name}}</label>
                                <label class="roll-label flex0">{{weapon.system.damage_roll}}</label>
                            {{else}}
                                <label class="longname-label flex0 rollable" data-type="gear-weapon" data-id="{{weapon._id}}" title="{{weapon.name}}">{{weapon.name}}</label>
                            {{/if}}
                            <label class="value-label flex0">{{weapon.system.success_value}}</label>
                            <a class="detail-button item-detail flex0" data-action="weapon-item" data-id="{{weapon._id}}" >
                                <i class="fas fa-circle-info"></i>
                            </a>
                        </div>
                    </div>
                    <div class="description" data-item-id="{{weapon._id}}">
                        {{#if weapon.isExpanded}}
                            <label class="item-description">{{{lookup @root.expandedData weapon._id}}}</label>
                        {{else}}
                            <label class="item-description"></label>
                        {{/if}}
                        <a class="config-button item-config flex0" data-action="weapon-item" ><i class="fas fa-cog"></i></a>
                    </div>
                </div>
            {{/each}} --}}
        </div>
    </div>
</div>