<div class="spell flexrow">
    <div class="flex0 item-list">
        <label class="title-label">{{ localize "ATORIA.SpellTitle"}}
            <a class="add-button item-create flex0" data-type="spell" data-action="spell-item" >
                <i class="fas fa-plus"></i>
            </a>
        </label>
        {{#each spells as |spell key|}}
            <div class="spell-row item flexcol" data-item-id="{{spell._id}}">
                <div class="flexrow">
                    <label class="name-label flex0 rollable" data-type="spell" data-id="{{spell._id}}" title="{{spell.name}}">{{spell.name}}</label>
                    <label class="value-label flex0">{{spell.system.success_value}}</label>
                    <a class="detail-button spell-display-detail flex0" data-action="spell-item" data-id="{{spell._id}}">
                        {{#if spell.is_displayed}}
                            <i class="fas fa-circle-info"></i>
                        {{else}}
                            <i class="fas fa-circle-info" style="color: #999999;"></i>
                        {{/if}}
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="spell-details">
        <label class="shorttitle-label">{{ localize "ATORIA.SpellDetailTitle"}}</label>
        <div class="flexrow">
            {{#each displayed_spells as |spell key|}}
                <div class="flex0">
                    {{> "systems/atoria/templates/common/spell-detail.hbs" spell=spell}}
                </div>
            {{/each}}
        </div>
    </div>
</div>