<div class="feature item-list">
    <label class="title-label">{{ localize "ATORIA.CharacterFeatureTitle"}}
        <a class="add-button item-create flex0" data-type="feature" data-action="feature-item" >
            <i class="fas fa-plus"></i>
        </a>
    </label>
    {{#each features as |feature key|}}
        <div class="feature-row item flexcol {{#if feature.isExpanded}}expanded{{/if}}" data-item-id="{{feature._id}}">
            <div class="flexrow">
                <label class="name-label flex0" title="{{feature.name}}">{{feature.name}}</label>
                <label class="effect-label flex0">{{feature.system.effect}}</label>
                <a class="detail-button item-detail flex0" data-action="feature-item" data-id="{{feature._id}}" >
                    <i class="fas fa-circle-info"></i>
                </a>
            </div>
            <div class="description" data-item-id="{{feature._id}}">
                {{#if feature.isExpanded}}
                    <label class="item-description">{{{lookup @root.expandedData feature._id}}}</label>
                {{else}}
                    <label class="item-description"></label>
                {{/if}}
                <a class="config-button item-config flex0" data-action="feature-item" ><i class="fas fa-cog"></i></a>
            </div>
        </div>
    {{/each}}
</div>