<div class="inventory flexrow">
    <div class="flexcol">
        <div class="flexrow">
            <label class="title inventory-gear-armor">{{ localize "ATORIA.InventoryArmorTitle"}}</label>
            <label class="armor-value">{{system.armor}}</label>
        </div>
        <div class="flexrow">
            <label class="longname-value">{{ localize "ATORIA.NameTitle"}}</label>
            <label class="encumbrance-value">{{ localize "ATORIA.ArmorEncumbranceTitle"}}</label>
            <label class="effect-value">{{ localize "ATORIA.ArmorEffectTitle"}}</label>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorTorso"}}</label>
            <input class="name-value" type="text" name="system.equipped_armor.torso.name" title="{{system.equipped_armor.torso.name}}" value="{{system.equipped_armor.torso.name}}"/>
            <input class="encumbrance-value" type="number" name="system.equipped_armor.torso.encumbrance" value="{{system.equipped_armor.torso.encumbrance}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.torso.effect" title="{{system.equipped_armor.torso.effect}}" value="{{system.equipped_armor.torso.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorShoulders"}}</label>
            <input class="name-value" type="text" name="system.equipped_armor.shoulders.name" title="{{system.equipped_armor.shoulders.name}}" value="{{system.equipped_armor.shoulders.name}}"/>
            <input class="encumbrance-value" type="number" name="system.equipped_armor.shoulders.encumbrance" value="{{system.equipped_armor.shoulders.encumbrance}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.shoulders.effect" title="{{system.equipped_armor.shoulders.effect}}" value="{{system.equipped_armor.shoulders.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorArms"}}</label>
            <input class="name-value" type="text" name="system.equipped_armor.arms.name" title="{{system.equipped_armor.arms.name}}" value="{{system.equipped_armor.arms.name}}"/>
            <input class="encumbrance-value" type="number" name="system.equipped_armor.arms.encumbrance" value="{{system.equipped_armor.arms.encumbrance}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.arms.effect" title="{{system.equipped_armor.arms.effect}}" value="{{system.equipped_armor.arms.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorHands"}}</label>
            <input class="name-value" type="text" name="system.equipped_armor.hands.name" title="{{system.equipped_armor.hands.name}}" value="{{system.equipped_armor.hands.name}}"/>
            <input class="encumbrance-value" type="number" name="system.equipped_armor.hands.encumbrance" value="{{system.equipped_armor.hands.encumbrance}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.hands.effect" title="{{system.equipped_armor.hands.effect}}" value="{{system.equipped_armor.hands.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorWaist"}}</label>
            <input class="name-value" type="text" name="system.equipped_armor.waist.name" title="{{system.equipped_armor.waist.name}}" value="{{system.equipped_armor.waist.name}}"/>
            <input class="encumbrance-value" type="number" name="system.equipped_armor.waist.encumbrance" value="{{system.equipped_armor.waist.encumbrance}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.waist.effect" title="{{system.equipped_armor.waist.effect}}" value="{{system.equipped_armor.waist.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorLegs"}}</label>
            <input class="name-value" type="text" name="system.equipped_armor.legs.name" title="{{system.equipped_armor.legs.name}}" value="{{system.equipped_armor.legs.name}}"/>
            <input class="encumbrance-value" type="number" name="system.equipped_armor.legs.encumbrance" value="{{system.equipped_armor.legs.encumbrance}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.legs.effect" title="{{system.equipped_armor.legs.effect}}" value="{{system.equipped_armor.legs.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorFeet"}}</label>
            <input class="name-value" type="text" name="system.equipped_armor.feet.name" title="{{system.equipped_armor.feet.name}}" value="{{system.equipped_armor.feet.name}}"/>
            <input class="encumbrance-value" type="number" name="system.equipped_armor.feet.encumbrance" value="{{system.equipped_armor.feet.encumbrance}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.feet.effect" value="{{system.equipped_armor.feet.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorCollar"}}</label>
            <input class="longname-value" type="text" name="system.equipped_armor.collar.name" title="{{system.equipped_armor.collar.name}}" value="{{system.equipped_armor.collar.name}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.collar.effect" title="{{system.equipped_armor.collar.effect}}" value="{{system.equipped_armor.collar.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorRing"}}</label>
            <input class="longname-value" type="text" name="system.equipped_armor.ring_1.name" title="{{system.equipped_armor.ring_1.name}}" value="{{system.equipped_armor.ring_1.name}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.ring_1.effect" title="{{system.equipped_armor.ring_1.effect}}" value="{{system.equipped_armor.ring_1.effect}}"/>
        </div>
        <div class="flexrow">
            <label class="type-value">{{ localize "ATORIA.ArmorRing"}}</label>
            <input class="longname-value" type="text" name="system.equipped_armor.ring_2.name" title="{{system.equipped_armor.ring_2.name}}" value="{{system.equipped_armor.ring_2.name}}"/>
            <input class="effect-value" type="text" name="system.equipped_armor.ring_2.effect" title="{{system.equipped_armor.ring_2.effect}}" value="{{system.equipped_armor.ring_2.effect}}"/>
        </div>

        <div class="flexrow">
            <label class="longtitle inventory-gear-weapon">{{ localize "ATORIA.InventoryGearWeaponTitle"}}
                <a class="add-button item-create" data-type="gear-weapon" data-action="gear-weapon-item">
                    <i class="fas fa-plus"></i>
                </a>
            </label>
        </div>
        {{#each gear_weapons as |weapon key|}}
            <div class="item flexrow" data-item-id="{{weapon._id}}">
                <label class="longname-value" title="{{weapon.name}}">{{weapon.name}}</label>
                <label class="encumbrance-value">{{weapon.system.encumbrance}}</label>
                <label class="effect-value" title="{{weapon.system.description_cleaned}}">{{{weapon.system.description}}}
                <a class="config-button item-config flex0" data-action="gear-weapon-item">
                    <i class="fas fa-cog"></i>
                </a>
                </label>
            </div>
        {{/each}}
    </div>
    <div class="flexcol">
        <div class="flexrow">
            <label class="longtitle inventory-gear-bag">{{ localize "ATORIA.InventoryGearTitle"}}</label>
        </div>
        <div class="flexrow">
            <label class="shortname-value encumbrance">{{ localize "ATORIA.Encumbrance"}}</label>
            <label class="resource-value {{encumbrance_level_display_class}}">{{system.encumbrance.value}}</label>
            <label class="resource-value encumbrance">{{system.encumbrance.max}}</label>
            <label class="resource-value coin-copper">{{ localize "ATORIA.CoinCopper"}}</label>
            <input class="resource-value" type="number" name="system.coins.copper" value="{{system.coins.copper}}"/>
            <label class="resource-value coin-silver">{{ localize "ATORIA.CoinSilver"}}</label>
            <input class="resource-value" type="number" name="system.coins.silver" value="{{system.coins.silver}}"/>
            <label class="resource-value coin-gold">{{ localize "ATORIA.CoinGold"}}</label>
            <input class="resource-value" type="number" name="system.coins.gold" value="{{system.coins.gold}}"/>
        </div>
        <div class="flexrow">
            <label class="name-value gray-color">{{ localize "ATORIA.NameTitle"}}</label>
            <label class="quantity-value gray-color">{{ localize "ATORIA.ArmorQuantityTitle"}}</label>
            <label class="encumbrance-value gray-color">{{ localize "ATORIA.ArmorEncumbranceTitle"}}</label>
            <label class="effect-value gray-color">{{ localize "ATORIA.ItemEffectTitle"}}</label>
        </div>
        <div class="flexrow">
            <label class="longtitle">{{ localize "ATORIA.InventoryGearConsumableTitle"}}
                <a class="add-button item-create" data-type="gear-consumable" data-action="gear-consumable-item">
                    <i class="fas fa-plus"></i>
                </a>
            </label>
        </div>
        {{#each gear_consumables as |consumable key|}}
            <div class="flexrow item" data-item-id="{{consumable._id}}">
                <label class="name-value" title="{{consumable.name}}">{{consumable.name}}</label>
                <label class="quantity-value">{{consumable.system.quantity}}</label>
                <label class="encumbrance-value">{{consumable.system.encumbrance}}</label>
                <label class="effect-value" title="{{consumable.system.description_cleaned}}">{{{consumable.system.description}}}
                    <a class="config-button item-config flex0" data-action="skill-item">
                        <i class="fas fa-cog"></i>
                    </a>
                </label>
                
            </div>
        {{/each}}
        <div class="flexrow">
            <label class="longtitle">{{ localize "ATORIA.InventoryGearEquipmentTitle"}}
                <a class="add-button item-create" data-type="gear-equipment" data-action="gear-equipment-item" >
                    <i class="fas fa-plus"></i>
                </a>
            </label>
        </div>
        {{#each gear_equipments as |equipment key|}}
            <div class="flexrow item" data-item-id="{{equipment._id}}">
                <label class="name-value" title="{{equipment.name}}">{{equipment.name}}</label>
                <label class="quantity-value">{{equipment.system.quantity}}</label>
                <label class="encumbrance-value">{{equipment.system.encumbrance}}</label>
                <label class="effect-value" title="{{equipment.system.description_cleaned}}">{{{equipment.system.description}}}
                    <a class="config-button item-config flex0" data-action="skill-item" >
                        <i class="fas fa-cog"></i>
                    </a>
                </label>
                
            </div>
        {{/each}}
        <div class="flexrow">
            <label class="longtitle">{{ localize "ATORIA.InventoryGearIngredientMaterialTitle"}}
                <a class="add-button item-create" data-type="gear-ingredient" data-action="gear-ingredient-item">
                    <i class="fas fa-plus"></i>
                </a></label>
        </div>
        {{#each gear_ingredients as |ingredient key|}}
            <div class="flexrow item" data-item-id="{{ingredient._id}}">
                <label class="name-value" title="{{ingredient.name}}">{{ingredient.name}}</label>
                <label class="quantity-value">{{ingredient.system.quantity}}</label>
                <label class="encumbrance-value">{{ingredient.system.encumbrance}}</label>
                <label class="effect-value" title="{{ingredient.system.description_cleaned}}">{{{ingredient.system.description}}}
                    <a class="config-button item-config flex0" data-action="skill-item">
                        <i class="fas fa-cog"></i>
                    </a>
                </label>
                
            </div>
        {{/each}}
    </div>
</div>