<div class="skill">
    <label class="title">{{ localize "ATORIA.CharacterSkillTitle"}}
        <a class="config-button config-skill flex0" >
            <i class="fas fa-cog"></i>
        </a>
    </label>
    <div class="flexrow">
        <div class="flex0">
            <div class="skill-row">
                {{#each formatted_skills.left as |skill_cat key|}}
                    <div class="category-area" style="grid-row-end: span {{skill_cat.sub_skills.length}}">
                        <label class="category-title">{{skill_cat.name}}</label>
                    </div>
                    {{#each skill_cat.sub_skills as |skill subkey|}}
                        <div class="flexrow hotbar-able" data-type="skill" data-id="{{skill.id}}">
                            <label class="name rollable" data-type="skill" data-id="{{skill.id}}">{{skill.name}}</label>
                            <label class="value-label">{{skill.success_value}}</label>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>
        <div class="flex0">
            <div class="skill-row item-list">
                {{#each formatted_skills.right as |skill_cat key|}}
                    <div class="category-area" style="grid-row-end: span {{skill_cat.sub_skills.length}}">
                        <label class="category-title">{{skill_cat.name}}</label>
                    </div>
                    {{#each skill_cat.sub_skills as |skill subkey|}}
                        <div class="flexrow hotbar-able" data-type="skill" data-id="{{skill.id}}">
                            <label class="name rollable" data-type="skill" data-id="{{skill.id}}">{{skill.name}}</label>
                            <label class="value-label">{{skill.success_value}}</label>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>
</div>