<div class="knowledge">
    <label class="title">{{ localize "ATORIA.CharacterKnowledgeTitle"}}
        <a class="config-button config-knowledge flex0">
            <i class="fas fa-cog"></i>
        </a>
    </label>
    <div class="knowledge-row item-list">
        {{#each formatted_knowledges as |knowledge_cat key|}}
            {{#if knowledge_cat.known}}
                {{#if knowledge_cat.sub_skills.length}}
                <div class="category-area" style="grid-row-end: span {{knowledge_cat.sub_skills.length}}; max-height: calc({{knowledge_cat.sub_skills.length}}*var(--form-field-height))">
                {{else}}
                <div class="category-area" style="grid-row-end: span 1; grid-column-end: span 2; max-height: var(--form-field-height)">
                {{/if}}
                    <label class="category-title">{{knowledge_cat.name}}
                        <a class="add-button item-create" data-type="skill" data-action="knowledge-skill-item" data-parent="{{knowledge_cat.id}}" >
                            <i class="fas fa-plus"></i>
                        </a>
                    </label>
                </div>
                {{#each knowledge_cat.sub_skills as |knowledge subkey|}}
                    <div class="item flexrow" data-item-id="{{knowledge._id}}" data-parent="{{knowledge_cat.id}}">
                        <label class="name rollable" data-type="knowledge" data-id="{{knowledge.full_id}}">{{knowledge.name}}</label>
                        <label class="value-label">{{knowledge.system.success_value}}</label>
                        <a class="config-button item-config" data-type="skill" data-action="knowledge-skill-item" data-parent="{{knowledge_cat.id}}" >
                            <i class="fas fa-cog"></i>
                        </a>
                    </div>
                {{/each}}
            {{/if}}
        {{/each}}
    </div>
    <label class="title">{{ localize "ATORIA.CharacterMagicTitle"}}
        <a class="config-button config-magic flex0" >
            <i class="fas fa-cog"></i>
        </a>
    </label>
    <div class="knowledge-row item-list">
        {{#each formatted_magics as |magic_cat key|}}
            {{#if magic_cat.known}}
                {{#if magic_cat.sub_skills.length}}
                    <div class="category-area" style="grid-row-end: span {{magic_cat.sub_skills.length}}; max-height: calc({{magic_cat.sub_skills.length}}*var(--form-field-height))">
                {{else}}
                    <div class="category-area" style="grid-row-end: span 1; grid-column-end: span 2; max-height: var(--form-field-height)">
                {{/if}}
                    <label class="category-title">{{magic_cat.name}}
                        <a class="add-button item-create" data-type="skill" data-action="magic-skill-item" data-parent="{{magic_cat.id}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </label>
                </div>
                {{#each magic_cat.sub_skills as |magic subkey|}}
                    <div class="flexrow item" data-item-id="{{magic._id}}" data-parent="{{magic_cat.id}}">
                        <label class="name rollable" data-type="magic" data-id="{{magic.full_id}}">{{magic.name}}</label>
                        <label class="value-label">{{magic.system.success_value}}</label>
                        <a class="config-button item-config" data-type="skill" data-action="magic-skill-item" data-parent="{{magic_cat.id}}" >
                            <i class="fas fa-cog"></i>
                        </a>
                    </div>
                {{/each}}
            {{/if}}
        {{/each}}
    </div>
</div>