<div class="effects grid-2col">
    <label class="title-label">{{ localize "ATORIA.EffectTitle"}}
        <a class="add-button effect-create flex0" data-type="effect" data-action="effect-item" >
            <i class="fas fa-plus"></i>
        </a>
    </label>
    {{#each effects as |effect key|}}
        <div class="effect-row effect item flexcol {{#if effect.isExpanded}}expanded{{/if}}" data-effect-id="{{effect._id}}">
            <div class="flex0">
                <div class="flexrow">
                    <label class="name-label flex0" title="{{effect.name}}">{{effect.name}}</label>
                    {{#if effect.duration.label}}
                        <label class="duration-label flex0">{{effect.duration.label}}</label>
                    {{else}}
                        <label class="duration-label flex0">{{effect.duration.rounds}} round(s)</label>
                    {{/if}}

                    <a class="detail-button effect-detail flex0" data-action="effect" data-effect-id="{{effect._id}}" >
                        <i class="fas fa-circle-info"></i>
                    </a>
                </div>
            </div>
            <div class="description flex0" data-effect-id="{{effect._id}}">
                {{#if effect.isExpanded}}
                    <label class="effect-description">{{{lookup @root.expandedData effect.id}}}</label>
                {{else}}
                    <label class="effect-description"></label>
                {{/if}}

                <a class="config-button effect-config flex0" data-action="effect" >
                    <i class="fas fa-cog"></i>
                </a>
                <a class="delete-button effect-delete flex0" data-action="effect">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    {{/each}}
</div>