<div class="armor-display flexcol">
    <h5 class="expand-control" data-expand-id="{{data_path}}">{{localize model.fields.main.label}}</h5>
    <input type="text" data-dtype="Number" name="{{data_path}}.main" value="{{armor.main}}"
    data-tooltip="{{localize model.fields.main.label}}" {{disabled (or (not @root.editable) (not @root.isEditingMode))}}/>
    <div class="expand-data">
        <label>
            {{localize model.fields.bludgeoning.label}}
        </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.bludgeoning" value="{{armor.bludgeoning}}"
        data-tooltip="{{localize model.fields.bludgeoning.label}}" {{disabled (or (not @root.editable) (not @root.isEditingMode))}}/>

        <label>
            {{localize model.fields.piercing.label}}
        </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.piercing" value="{{armor.piercing}}"
        data-tooltip="{{localize model.fields.piercing.label}}" {{disabled (or (not @root.editable) (not @root.isEditingMode))}}/>

        <label>
            {{localize model.fields.slashing.label}}
        </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.slashing" value="{{armor.slashing}}"
        data-tooltip="{{localize model.fields.slashing.label}}" {{disabled (or (not @root.editable) (not @root.isEditingMode))}}/>
    </div>
</div>