<div class="resistance-display flexcol">
    <h5 class="expand-control"  data-expand-id="{{data_path}}">{{localize model.fields.main.label}}</h5>
    <input type="text" data-dtype="Number" name="{{data_path}}.main" value="{{resistance.main}}"
    data-tooltip="{{localize model.fields.main.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <div class="expand-data">
    <label>
        {{localize model.fields.acid.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.acid" value="{{resistance.acid}}"
        data-tooltip="{{localize model.fields.acid.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <label>
        {{localize model.fields.arcanic.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.arcanic" value="{{resistance.arcanic}}"
        data-tooltip="{{localize model.fields.arcanic.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <label>
        {{localize model.fields.fire.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.fire" value="{{resistance.fire}}"
        data-tooltip="{{localize model.fields.fire.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <label>
        {{localize model.fields.lightning.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.lightning" value="{{resistance.lightning}}"
        data-tooltip="{{localize model.fields.lightning.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <label>
        {{localize model.fields.cold.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.cold" value="{{resistance.cold}}"
        data-tooltip="{{localize model.fields.cold.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <label>
        {{localize model.fields.necrotic.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.necrotic" value="{{resistance.necrotic}}"
        data-tooltip="{{localize model.fields.necrotic.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <label>
        {{localize model.fields.poison.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.poison" value="{{resistance.poison}}"
        data-tooltip="{{localize model.fields.poison.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <label>
        {{localize model.fields.psychic.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.psychic" value="{{resistance.psychic}}"
        data-tooltip="{{localize model.fields.psychic.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>

    <label>
        {{localize model.fields.radiant.label}}
    </label>
        <input type="text" data-dtype="Number" name="{{data_path}}.radiant" value="{{resistance.radiant}}"
        data-tooltip="{{localize model.fields.radiant.label}}" {{disabled (or (not editable) (not isEditingMode))}}/>
    </div>
</div>



 

 
 
 

