<li class="item atoria-item-line-display {{item.type}} atoria-horizontal-bar atoria-expand-control"
data-action="expandSection"  data-expand-id="{{item._id}}" data-drag="Item" data-item-id="{{item._id}}"
{{#if item.system.use_color}}style="background-color: {{item.system.color}};"{{/if}}>
    <label class="name" >{{item.name}}</label>

    {{#if (ne item.system.limitation.regain_type "permanent")}}
        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=item.system.limitation
        systemFields=item.systemFields.limitation.fields }}
    {{/if}}

    {{#if @root.editable}}
        <a class="atoria-edit-button" data-action="editItem" data-item-id="{{item._id}}" data-tooltip="{{localize "ATORIA.Sheet.Item.Edit"}}">
            <i class="fas fa-edit"></i>
        </a>
        {{#if @root.isEditingMode}}
            <a class="atoria-delete-button" data-action="deleteItem" data-item-id="{{item._id}}" data-tooltip="{{localize "ATORIA.Sheet.Item.Delete"}}">
                <i class="fas fa-trash"></i>
            </a>
        {{/if}}
    {{/if}}
</li>
<li class="atoria-expand-direct-data"
{{#if item.system.use_color}}style="background-color: {{item.system.color}};"{{/if}}>
    <div style="display: grid;">
        <textarea
            class="textarea-auto-resize"
            style="grid-area: 1 / 1 / 2/ 2;"
            rows="1"
            data-name="{{item._id}}_description" data-dtype="String"
            disabled>{{cleanLines item.system.description}}</textarea>
        <div
        class="textarea-auto-resize-sibling"
        aria-hidden="true"
        style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
        >{{cleanLines item.system.description}}</div>
    </div>
    {{#each item.system.skill_alterations as |skill_alteration key|}}
        <div class="flexcol">
            {{#if skill_alteration.associated_skill}}
            <label>{{localize (lookup @root.associated_skills skill_alteration.associated_skill)}}</label>

            <div class="flexrow" style="margin:auto">
                {{#if skill_alteration.dos_mod}}<label style="max-width:fit-content">{{localize ../item.systemFields.skill_alterations.element.fields.dos_mod.label}}: {{skill_alteration.dos_mod}}</label>{{/if}}
                {{#if skill_alteration.adv_amount}}<label style="max-width:fit-content">{{localize ../item.systemFields.skill_alterations.element.fields.adv_amount.label}}: {{skill_alteration.adv_amount}}</label>{{/if}}
                {{#if skill_alteration.disadv_amount}}<label style="max-width:fit-content">{{localize ../item.systemFields.skill_alterations.element.fields.disadv_amount.label}}: {{skill_alteration.disadv_amount}}</label>{{/if}}
            </div>
            {{else}}
            <label>{{localize "ATORIA.Sheet.Associated_skill_blank"}}</label>
            {{/if}}
        </div>
    {{/each}}
</li>
