<li class="item atoria-item-line-display {{item.type}} atoria-horizontal-bar atoria-expand-control"
data-action="expandSection" data-expand-id="{{item._id}}" data-drag="Item" data-item-id="{{item._id}}">
    
    <label class="name" >{{item.name}}</label>

    {{>"atoria.v2.commons_partials.cost-display" 
        cost=item.system.cost
        systemFields=systemFields.cost.fields
    }}
    
    {{#if item.system.skill_alteration.has_skill_alteration}}
        <hr/>
        <label>{{localize (lookup item.systemFields.skill_alteration.fields.skill_alteration_type.choices item.system.skill_alteration.skill_alteration_type)}}</label>
    {{/if}}

    {{>"atoria.v2.commons_partials.time-limitation-display" limitation=item.system.limitation
    systemFields=item.systemFields.limitation.fields }}


    {{#if @root.editable}}
        <a class="atoria-edit-button" data-action="editItem" data-item-id="{{item._id}}" data-tooltip="{{localize "ATORIA.Sheet.Item.Edit"}}">
            <i class="fas fa-edit"></i>
        </a>
        {{#if @root.isEditingMode}}
            <a class="atoria-delete-button" data-action="deleteItem" data-item-id="{{item._id}}" data-tooltip="{{localize "ATORIA.Sheet.Item.Delete"}}">
                <i class="fas fa-trash"></i>
            </a>
        {{/if}}
    {{/if}}
</li>
<li class="atoria-expand-direct-data">
    <textarea class="atoria-resize-ta" data-name="{{item._id}}_description" data-dtype="String" rows="2" disabled
        >{{cleanLines item.system.description}}</textarea>
</li>