<li class="item atoria-item-line-display {{item.type}} atoria-horizontal-bar atoria-expand-control"
data-action="rollableExpand" data-expand-id="{{item._id}}"
data-drag="Item" data-item-id="{{item._id}}">

    <label class="name">{{item.name}}</label>

    {{#if (eq item.type "spell")}}
        <input type="text" data-dtype="Number" value="{{item.system.success}}"
        data-tooltip="{{localize item.systemFields.success.label}}" disabled />

        <div class="atoria-cost">
        {{>"atoria.v2.commons_partials.cost-display"
            cost=item.system.cost
            systemFields=systemFields.cost.fields
        }}
        </div>

        <div class="atoria-markers">
        {{#if item.system.markers.is_canalisation}}
            <input class="atoria-spell-marker flex0" data-letter="{{localize "ATORIA.Ruleset.Spell.Markers.Canalisation"}}"
            type="checkbox" {{checked item.system.markers.is_canalisation}} disabled /><!--is_canalisation-->
        {{/if}}
        {{#if item.system.markers.is_evocation}}
            <input class="atoria-spell-marker flex0" data-letter="{{localize "ATORIA.Ruleset.Spell.Markers.Evocation"}}"
            type="checkbox" {{checked item.system.markers.is_evocation}} disabled /><!--is_evocation-->
        {{/if}}
        {{#if item.system.markers.is_attack}}
            <input class="atoria-spell-marker flex0" data-letter="{{localize "ATORIA.Ruleset.Spell.Markers.Attack"}}"
            type="checkbox" {{checked item.system.markers.is_attack}} disabled /><!--is_attack-->
        {{/if}}
        {{#if item.system.markers.is_trap}}
            <input class="atoria-spell-marker flex0" data-letter="{{localize "ATORIA.Ruleset.Spell.Markers.Trap"}}"
            type="checkbox" {{checked item.system.markers.is_trap}} disabled /><!--is_trap-->
        {{/if}}
        </div>
    {{else}}
        <div class="atoria-cost">
        {{#each item.system.cost_list as |cost_data idx|}}
            {{>"atoria.v2.commons_partials.cost-display" cost=cost_data systemFields=../item.systemFields.cost_list.element.fields}}
        {{/each}}
        </div>
    {{/if}}
    {{#if (ne item.type "weapon")}}
        <label class="atoria-target">
        {{#if item.system.target}}
            <img class="atoria-icon" src="systems/atoria/imgs/target-dummy.svg" data-tooltip="{{localize item.systemFields.target.label}}">
            {{item.system.target}}
        {{/if}}
        </label>

        <label class="atoria-range">
        {{#if item.system.range}}
            <img class="atoria-icon" src="systems/atoria/imgs/high-shot.svg" data-tooltip="{{localize item.systemFields.range.label}}">
            {{item.system.range}}
        {{/if}}
        </label>
        <label class="atoria-area">
        {{#if item.system.area}}
            <img class="atoria-icon" src="systems/atoria/imgs/select.svg" data-tooltip="{{localize item.systemFields.area.label}}">
            {{item.system.area}}
        {{/if}}
        </label>
    {{/if}}

    {{#unless (eq item.type "spell")}}
    <div class="atoria-limitation">
        {{>"atoria.v2.commons_partials.time-limitation-display" limitation=item.system.limitation
        systemFields=item.systemFields.limitation.fields }}
    </div>
    {{/unless}}

    {{#if @root.editable}}
        <a class="atoria-edit-button" data-action="editItem" data-item-id="{{item._id}}" data-tooltip="{{localize "ATORIA.Sheet.Item.Edit"}}">
            <i class="fas fa-edit"></i>
        </a>
        {{#if @root.isEditingMode}}
            <a class="atoria-delete-button" data-action="deleteItem" data-item-id="{{item._id}}" data-tooltip="{{localize "ATORIA.Sheet.Item.Delete"}}">
                <i class="fas fa-trash"></i>
            </a>
        {{/if}}
    {{/if}}
</li>
<li class="atoria-expand-direct-data flexcol">
    <!-- Pre -->
    {{#if (ne item.type "weapon")}}
        <div class="flexrow">
        {{#if (eq item.type "spell")}}
                <label><b>{{localize systemFields.critical_success.label}}:</b> {{item.system.critical_success}}</label>
                <label><b>{{localize systemFields.critical_fumble.label}}:</b> {{item.system.critical_fumble}}</label>
        {{/if}}
        {{#if (or (eq item.type "action") (eq item.type "opportunity"))}}
            <label>{{localize systemFields.is_magic.label}}</label>
            {{ formInput systemFields.is_magic value=item.system.is_magic disabled=true }}
            {{#unless item.system.is_magic}}
                {{#if item.system.associated_skill}}
                <label style="flex: 1 1 content;">
                    <b>{{localize systemFields.associated_skill.label}}:</b>
                    {{localize (lookup @root.associated_skills item.system.associated_skill)}}
                </label>
                {{/if}}
            {{/unless}}
        {{/if}}

        {{#if (ne item.type "weapon")}}
            {{#if item.system.duration}}
            <label><b>{{localize item.systemFields.duration.label}}:</b> {{item.system.duration}}</label>
            {{/if}}

            <label style="flex: 1 1 content;">
                {{#if item.system.require_verbal}}
                    <b>{{localize item.systemFields.require_verbal.label}}</b><!--require_verbal-->
                {{/if}}

                {{#if item.system.require_immobile}}
                    {{#if item.system.require_verbal}}, {{/if}}
                    <b>{{localize item.systemFields.require_immobile.label}}</b><!--require_immobile-->
                {{/if}}

                {{#if item.system.travel}}
                    {{#if (or item.system.require_immobile item.system.require_verbal)}}, {{/if}}
                    <b>{{localize item.systemFields.travel.label}}: {{item.system.travel}}</b><!--require_immobile-->
                {{/if}}

                {{#if (ne item.system.somatic "none")}}
                    {{#if (or item.system.require_immobile item.system.require_verbal item.system.travel)}}, {{/if}}
                    {{localize (lookup systemFields.somatic.choices item.system.somatic)}}
                {{/if}}
            </label>
        {{/if}}
        </div>
    {{/if}}

    {{#if (eq item.type "weapon")}}
        {{#if item.keywords_recap.list}}
        <label>{{localize item.systemFields.keywords.label}}: {{item.keywords_recap.list}}</label>
        {{/if}}
        {{#if item.keywords_recap.has_preserve}}
        <label>{{localize item.systemFields.keywords.fields.preserve.label}} {{item.system.keywords.preserve.max_amount}}
            {{localize (lookup item.systemFields.keywords.fields.preserve.fields.type.choices
                item.system.keywords.preserve.type)}}
            {{item.system.keywords.preserve.increment}}</label>
            {{#if (includes (arraytize "all" "mana") item.system.keywords.preserve.type)}}
            <label>{{localize item.systemFields.keywords.fields.preserve_mana.label}}:
                <input class="item-update float-input" data-name="system.keywords.preserve_mana"
                type="text" inputmode="numeric" data-dtype="Number"  value="{{item.system.keywords.preserve_mana}}"
                data-tooltip="{{localize item.systemFields.keywords.fields.preserve_mana.label}}" {{disabled (not @root.editable)}}/>
            </label>
            {{/if}}
            {{#if (includes (arraytize "all" "health") item.system.keywords.preserve.type)}}
            <label>{{localize item.systemFields.keywords.fields.preserve_health.label}}:
                <input class="item-update float-input" data-name="system.keywords.preserve_health"
                type="text" inputmode="numeric" data-dtype="Number"  value="{{item.system.keywords.preserve_health}}"
                data-tooltip="{{localize item.systemFields.keywords.fields.preserve_health.label}}" {{disabled (not @root.editable)}}/>
            </label>
            {{/if}}
            {{#if (includes (arraytize "all" "stamina") item.system.keywords.preserve.type)}}
            <label>{{localize item.systemFields.keywords.fields.preserve_stamina.label}}:
                <input class="item-update float-input" data-name="system.keywords.preserve_stamina"
                type="text" inputmode="numeric" data-dtype="Number"  value="{{item.system.keywords.preserve_stamina}}"
                data-tooltip="{{localize item.systemFields.keywords.fields.preserve_stamina.label}}" {{disabled (not @root.editable)}}/>
            </label>
            {{/if}}
            {{#if (includes (arraytize "all" "endurance") item.system.keywords.preserve.type)}}
            <label>{{localize item.systemFields.keywords.fields.preserve_endurance.label}}:
                <input class="item-update float-input" data-name="system.keywords.preserve_endurance"
                type="text" inputmode="numeric" data-dtype="Number"  value="{{item.system.keywords.preserve_endurance}}"
                data-tooltip="{{localize item.systemFields.keywords.fields.preserve_endurance.label}}" {{disabled (not @root.editable)}}/>
            </label>
            {{/if}}
            {{#if (includes (arraytize "all" "sanity") item.system.keywords.preserve.type)}}
            <label>{{localize item.systemFields.keywords.fields.preserve_sanity.label}}:
                <input class="item-update float-input" data-name="system.keywords.preserve_sanity"
                type="text" inputmode="numeric" data-dtype="Number"  value="{{item.system.keywords.preserve_sanity}}"
                data-tooltip="{{localize item.systemFields.keywords.fields.preserve_sanity.label}}" {{disabled (not @root.editable)}}/>
            </label>
            {{/if}}
        {{/if}}
        {{#if item.keywords_recap.has_reserve}}
        <label>{{localize item.systemFields.keywords.fields.reserve.label}}
            <input class="item-update float-input" data-name="system.keywords.reserve_current"
            type="text" inputmode="numeric" data-dtype="Number"  value="{{item.system.keywords.reserve_current}}"
            data-tooltip="{{localize item.systemFields.keywords.fields.reserve_current.label}}" {{disabled (not @root.editable)}}/>
            / {{item.system.keywords.reserve_max}}</label>
        {{/if}}

        {{#if item.system.range}}
        <label><b>{{localize item.systemFields.range.label}}:</b> {{item.system.range}}</label>
        {{/if}}

        {{#if item.system.associated_skill}}
            {{>"atoria.v2.commons_partials.rollfield-display" rollfield=item.system.damage_roll systemFields=item.systemFields.damage_roll.fields
                data_path="system.focuser_damage_roll" hide_name=false}}
        {{/if}}

        {{#if item.system.is_focuser}}
            {{>"atoria.v2.commons_partials.rollfield-display" rollfield=item.system.focuser_damage_roll systemFields=item.systemFields.focuser_damage_roll.fields
                data_path="system.focuser_damage_roll" hide_name=false}}
        {{/if}}
    {{/if}}

    <!-- Actable -->

    {{#if (ne item.type "weapon")}}
        <div class="flexrow">
            <label><b>{{localize item.systemFields.material.label}}:</b> {{item.system.material}}</label>
        </div>
        {{#if (eq item.type "spell")}}
            {{#if item.system.critical_effect}}
                <label><b>{{localize systemFields.critical_effect.label}}: </b></label>
                <div style="display: grid;">
                    <textarea
                        class="textarea-auto-resize"
                        style="grid-area: 1 / 1 / 2/ 2;"
                        rows="1"
                        data-name="inventory-{{item._id}}-critical_effect" data-dtype="String"
                        disabled>{{cleanLines item.system.critical_effect}}</textarea>
                    <div
                    class="textarea-auto-resize-sibling"
                    aria-hidden="true"
                    style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
                    >{{cleanLines item.system.critical_effect}}</div>
                </div>
            {{/if}}
        {{/if}}

        <label class="double-col-field">{{localize systemFields.restriction.label}}</label>
        <div style="display: grid;">
            <textarea
                class="textarea-auto-resize"
                style="grid-area: 1 / 1 / 2/ 2;"
                rows="1"
                data-name="inventory-{{item._id}}-effect" data-dtype="String"
                data-name="{{item._id}}_restriction" data-dtype="String"
                disabled>{{cleanLines item.system.restriction}}</textarea>
            <div
            class="textarea-auto-resize-sibling"
            aria-hidden="true"
            style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
            >{{cleanLines item.system.restriction}}</div>
        </div>

        <label><b>{{localize item.systemFields.effect.label}}:</b></label>
        <div style="display: grid;">
         <textarea
             class="textarea-auto-resize"
             style="grid-area: 1 / 1 / 2/ 2;"
             rows="1"
             disabled>{{cleanLines item.system.effect}}</textarea>
         <div
         class="textarea-auto-resize-sibling"
         aria-hidden="true"
         style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
         >{{cleanLines item.system.effect}}</div>
     </div>

        <label><b>{{localize item.systemFields.description.label}}:</b></label>
        <div style="display: grid;">
            <textarea
                class="textarea-auto-resize"
                style="grid-area: 1 / 1 / 2/ 2;"
                rows="1"
                data-name="inventory-{{item._id}}-description" data-dtype="String"
                disabled>{{cleanLines item.system.description}}</textarea>
            <div
            class="textarea-auto-resize-sibling"
            aria-hidden="true"
            style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
            >{{cleanLines item.system.description}}</div>
        </div>
    {{/if}}

    {{#if (eq item.type "spell")}}
    <label><b>{{localize item.systemFields.supplementaries_list.label}}:</b></label>
    {{#each item.system.supplementaries_list as |supplementary key|}}
        <div class="atoria-supplementary">
            <div class="flexrow">
                {{>"atoria.v2.commons_partials.cost-display"
                    cost=supplementary.cost
                    systemFields=../systemFields.supplementaries_list.element.fields.cost.fields
                }}
                <label>{{localize ../systemFields.supplementaries_list.element.fields.usage_max.label}}: {{supplementary.usage_max}}</label>
                {{>"atoria.v2.commons_partials.time-limitation-display" limitation=supplementary.limitation
                systemFields=../systemFields.supplementaries_list.element.fields.limitation.fields }}
            </div>
            <div style="display: grid;">
                <textarea
                    class="textarea-auto-resize"
                    style="grid-area: 1 / 1 / 2/ 2;"
                    rows="1"
                    data-name="inventory-{{../item._id}}-supplementaries_list.{{key}}" data-dtype="String"
                    disabled>{{cleanLines supplementary.description}}</textarea>
                <div
                class="textarea-auto-resize-sibling"
                aria-hidden="true"
                style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
                >{{cleanLines supplementary.description}}</div>
            </div>
        </div>
    {{/each}}
    {{/if}}
</li>
