<div class="tab {{#if is_active_page}}active{{/if}} atoria-player-keywords-page" data-group="primary" data-tab="keywords">
    <h1 >{{localize "ATORIA.Sheet.Player.Keywords_setup"}}</h1>
<div class="atoria-keywords-list">
{{#each actor.system.keywords}}
    <div class="atoria-keyword-setup flexrow">
        {{#each this.effect_levels}}
        <div class="flexcol">
            <h5>{{localize (getProperty (getField @root.systemFields.keywords @../key) "label")}}{{multiplyString "+" @index}}</h5>

            {{>"atoria.v2.commons_partials.textarea-input"
            value=this.effect
            systemFields=(getField @root.systemFields.keywords (concat @../key ".effect_level_" (sum @index 1) ".effect"))
            data_path=(concat "system.keywords." @../key ".effect_level_" (sum @index 1) ".effect")
            data_name=(concat "system.keywords." @../key ".effect_level_" (sum @index 1) ".effect")
            cssClasses="" disabled=(not @root.editable)}}

            <div class="grid-2-col">
                <label>{{localize (getProperty (getField @root.systemFields.keywords (concat @../key ".effect_level_" (sum @index 1) ".limit_amount")) "label")}}</label>
                <input type="number" step="1" name="{{concat "system.keywords." @../key ".effect_level_" (sum @index 1) ".limit_amount"}}" value="{{this.limit_amount}}" />
            </div>

           <fieldset class="double-col-field">
                <legend>{{localize (getProperty (getField @root.systemFields.keywords (concat @../key ".effect_level_" (sum @index 1) ".skill_alterations")) "label")}}
                    <a class="atoria-create-button" data-action="createKeywordAlteration" data-keyword-id="{{@../key}}" data-level="{{@index}}"
                    data-tooltip="{{localize (getProperty (getField @root.systemFields.keywords (concat @../key ".effect_level_" (sum @index 1) ".skill_alterations")) "label")}}">
                        <i class="fas fa-plus"></i>
                    </a></legend>

                {{#each this.skill_alterations as |skill_alteration key|}}
                    <div class="flexrow double-col-field">
                        {{>"atoria.v2.items_partials.skill-alteration-input" skill_alteration=skill_alteration
                        item_actor=@root.actor associated_skills=@root.associated_skills
                        data_path=(concat "system.keywords." @../../key ".effect_level_" (sum @../index 1) ".skill_alterations." key )
                        systemFields=(getProperty (getField @root.systemFields.keywords (concat @../../key ".effect_level_" (sum @index 1) ".skill_alterations")) "element.fields")
                        cssClasses=""}}

                        <a class="atoria-delete-button" data-action="deleteKeywordAlteration" data-keyword-id="{{@../../key}}" data-level="{{@../index}}" data-index="{{key}}"
                        data-tooltip="{{localize 'ATORIA.Sheet.Actable.Skill_Alterations.Delete'}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                {{/each}}
            </fieldset>
        </div>
        {{/each}}
    </div>
{{/each}}
</div>
</div>
