<h5 class="title">
    {{localize "ATORIA.Ruleset.Keywords.Label"}}
</h5>
<!-- tracked_keywords & keywords_data & keywords_fields-->
<div class="atoria-keywords">
    {{#each keywords_data}}
    <div class="atoria-time-limitation-display flexrow">
        {{#if this.limit_amount}}
            <input type="text" inputmode="numeric" data-dtype="Number" name={{concat "system.keywords." this.id ".limit_remaining"}} value="{{this.limit_remaining}}"
                data-tooltip="{{localize (getProperty (getField ../keywords_fields (concat this.id ".effect_level_" (sum this.level 1) ".limit_remaining")) "label")}}"
                {{disabled (not @root.editable)}}/>

            <label>/{{this.limit_amount}}</label>

            <img src='systems/atoria/imgs/regain-type-combat.svg' title='{{localize "ATORIA.Ruleset.Time_phase.Combat"}}'/>
        {{/if}}
        <label>{{localize this.label}}{{multiplyString "+" this.level}}</label>
    </div>
    {{/each}}
</div>
