{{#if (or force_display @root.isEditingMode (not (includes @root.flags.atoria.hidden_skills data_path)))}}
<div class="atoria-skill-cat-display">
    <h6>{{localize model.label}}
    {{#if (and (not force_display) (not prevent_hide_action) @root.editable @root.isEditingMode)}}
        {{#if (includes @root.extendable_skill data_path)}}
            <a class="atoria-create-button" data-action="createSkill" data-skill-cat-path="{{data_path}}" data-tooltip="{{localize "ATORIA.Sheet.Skill.Create"}}">
                <i class="fas fa-plus"></i>
            </a>
        {{/if}}
        <input class="atoria-skill-shown-control" data-action="toggleSkillVisibility" type="checkbox" data-dtype="Boolean" data-skill-path="{{data_path}}"
        {{checked (not (includes @root.flags.atoria.hidden_skills data_path))}}
        {{disabled (or (not @root.editable) (not @root.isEditingMode))}} />
    {{/if}}</h6>
    <div class="atoria-skill-area">
    {{#if (lookup @root.skill_n_knowledge_sorting_list data_path)}}
        {{#each (lookup @root.skill_n_knowledge_sorting_list data_path) as |skill_id key|}}
            {{>"atoria.v2.actors_partials.skill-display"
            skill=(lookup ../skill_cat_skills skill_id)
            data_path=(concat ../data_path "." skill_id)
            systemFields=../model.sub_element.fields
            force_display=../force_display
            prevent_hide_action=../prevent_hide_action
            deletable=(and @root.editable @root.isEditingMode (includes @root.extendable_skill ../data_path))
            }}

        {{/each}}
    {{else}}
        {{#each skill_cat_skills as |skill key|}}
            {{>"atoria.v2.actors_partials.skill-display"
            skill=skill
            data_path=(concat ../data_path "." key)
            systemFields=../model.sub_element.fields
            force_display=../force_display
            prevent_hide_action=../prevent_hide_action
            deletable=(and @root.editable @root.isEditingMode (includes @root.extendable_skill ../data_path))
            }}
        {{/each}}
    {{/if}}
    </div>
</div>
{{/if}}
