{{#if (or force_display @root.isEditingMode (not (includes @root.flags.atoria.hidden_skills data_path)))}}
<div class="atoria-skill-display">
    <label data-action="rollable" data-skill-path="{{data_path}}">{{localize systemFields.label}}
        {{#if (and (gt skill.mastery 0) (or limited (not @root.isEditingMode)))}}<div class="atoria-exponent">{{skill.mastery}}</div>{{/if}}
    </label>
    <input type="number" name="{{data_path}}.success"
    value="{{skill.success}}"
    data-tooltip="{{localize systemFields.fields.success.label}}"
    {{disabled (or (not @root.editable) (not @root.isEditingMode))}} />

    {{#if (and (not prevent_hide_action) @root.editable @root.isEditingMode)}}
        <input class="atoria-skill-shown-control" data-action="toggleSkillVisibility" type="checkbox" data-dtype="Boolean" data-skill-path="{{data_path}}"
        {{checked (not (includes @root.flags.atoria.hidden_skills data_path))}}
        {{disabled (or (not @root.editable) (not @root.isEditingMode))}} />
    {{/if}}
</div>
{{#unless (or limited (not @root.isEditingMode))}}
    <div class="atoria-skill-display">
        <label class="fit-width" data-tooltip="{{systemFields.fields.mastery.label}}">{{localize "ATORIA.Sheet.Player.Skill.Mastery"}}</label>
        <input type="number" data-dtype="Number" name="{{data_path}}.mastery"
        value="{{skill.mastery}}"
        data-tooltip="{{localize systemFields.fields.mastery.label}}"
        {{disabled (or (not @root.editable) (not @root.isEditingMode))}} />

        <label data-tooltip="{{systemFields.fields.critical_success_modifier.label}}">{{localize "ATORIA.Sheet.Player.Skill.Critical_success"}}</label>
        <input type="number" data-dtype="Number" name="{{data_path}}.critical_success_modifier"
        value="{{skill.critical_success_modifier}}"
        data-tooltip="{{localize systemFields.fields.critical_success_modifier.label}}"
        {{disabled (or (not @root.editable) (not @root.isEditingMode))}} />

        <label data-tooltip="{{systemFields.fields.critical_fumble_modifier.label}}">{{localize "ATORIA.Sheet.Player.Skill.Critical_fumble"}}</label>
        <input type="number" data-dtype="Number" name="{{data_path}}.critical_fumble_modifier"
        value="{{skill.critical_fumble_modifier}}"
        data-tooltip="{{localize systemFields.fields.critical_fumble_modifier.label}}"
        {{disabled (or (not @root.editable) (not @root.isEditingMode))}} />
    </div>
{{/unless}}
{{/if}}
