{{#if (or force_display @root.isEditingMode (not (includes @root.flags.atoria.hidden_skills data_path)))}}
<div class="atoria-skill-group-display">
    <h5>{{localize model.label}}
    {{#if (and (not prevent_hide_action) @root.editable @root.isEditingMode)}}
        <input class="atoria-skill-shown-control" data-action="toggleSkillVisibility" type="checkbox" data-dtype="Boolean" data-skill-path="{{data_path}}"
        {{checked (not (includes @root.flags.atoria.hidden_skills data_path))}}
        {{disabled (or (not @root.editable) (not @root.isEditingMode))}} />
    {{/if}}</h5>
    <div class="atoria-skill-cat-area">
    {{#if (lookup @root.skill_n_knowledge_sorting_list data_path)}}
        {{#each (lookup @root.skill_n_knowledge_sorting_list data_path) as |skill_cat_id key|}}
            {{>"atoria.v2.actors_partials.skill-cat-display"
            skill_cat_skills=(lookup ../skill_group_data skill_cat_id)
            data_path=(concat ../data_path "." skill_cat_id)
            model=(lookup ../model.fields skill_cat_id)
            force_display=../force_display
            prevent_hide_action=../prevent_hide_action
            }}
        {{/each}}
    {{else}}
        {{#each skill_group_data as |skill_cat_data key|}}
            {{>"atoria.v2.actors_partials.skill-cat-display"
            skill_cat_skills=skill_cat_data
            data_path=(concat ../data_path "." key)
            model=(lookup ../model.fields key)
            force_display=../force_display
            prevent_hide_action=../prevent_hide_action
            }}
        {{/each}}
    {{/if}}
    </div>
</div>
{{/if}}
