<div class="atoria-attribute-display {{cssClass}}">
<label>{{localize attribute_model.label}}</label>

{{#if attribute_model.fields.regain_inactive}}
{{ formInput attribute_model.fields.regain_inactive value=attribute.regain_inactive disabled=(not @root.editable)
dataset=(tooltipToDataset attribute_model.fields.regain_inactive.label)}}
{{/if}}

{{#if attribute_model.fields.value}}
{{ formInput attribute_model.fields.value value=attribute.value disabled=(not @root.editable)
dataset=(tooltipToDataset attribute_model.fields.value.label)}}
{{else}}
<input type="number"
    data-tooltip="{{enhancedNumberFormat attribute.value decimals=2}}"
    value="{{enhancedNumberFormat attribute.value decimals=2}}" disabled/>
{{/if}}

{{#if (and max (not @root.isEditingMode))}}
<input type="number" value="{{max}}" disabled/>
{{else}}
{{ formInput attribute_model.fields.max value=attribute.max disabled=(not (and @root.isEditingMode @root.editable))
dataset=(tooltipToDataset attribute_model.fields.max.label)}}
{{/if}}
</div>
