<!--
cost
systemFields
cssClasses
-->
<div class='atoria-cost-display {{cssClasses}}'>
    {{#if cost.health}}
    <input class='atoria-health' type='text' inputmode='numeric' data-dtype='Number'  value='{{cost.health}}' disabled >
    {{/if}}
    {{#if cost.mana}}
    <input class='atoria-mana' type='text' inputmode='numeric' data-dtype='Number'  value='{{cost.mana}}' disabled >
    {{/if}}
    {{#if cost.stamina}}
    <input class='atoria-stamina' type='text' inputmode='numeric' data-dtype='Number'  value='{{cost.stamina}}' disabled >
    {{/if}}
    {{#if cost.endurance}}
    <input class='atoria-endurance' type='text' inputmode='numeric' data-dtype='Number'  value='{{cost.endurance}}' disabled >
    {{/if}}
    {{#if cost.movement}}
    <input class='atoria-movement' type='text' inputmode='numeric' data-dtype='Number'  value='{{cost.movement}}' disabled >
    {{/if}}
    {{#if cost.material}}
    <input class='atoria-material' type='text'  value='{{cost.material}}' disabled >
    {{/if}}
    {{#if systemFields}}
        {{#if cost.time.main_amount}}
            <label class='atoria-time-label'>{{cost.time.main_amount}} {{localize (shorten (lookup systemFields.time.fields.main_type.choices cost.time.main_type))}}</label>
        {{/if}}

        {{#if cost.time.second_amount}}
            <label class='atoria-time-label'>{{cost.time.second_amount}} {{localize (shorten systemFields.time.fields.second_amount.label)}}</label>
        {{/if}}
    {{else}}
        {{#if cost.time.main_amount}}
            <label class='atoria-time-label'>{{cost.time.main_amount}} {{localize (shorten (lookup @root.ruleset.time_units cost.time.main_type))}}</label>
        {{/if}}

        {{#if cost.time.second_amount}}
            <label class='atoria-time-label'>{{cost.time.second_amount}} {{localize (shorten (lookup @root.ruleset.time_units 'second'))}}</label>
        {{/if}}
    {{/if}}
</div>
