<!--
rollfield
systemFields
cssClasses
hide_name
-->
<div class="atoria-rollfield-input {{#if hide_name}}name-hidden{{/if}}">
    <input class="name" type="text" data-dtype="String"
    name="{{data_path}}.name" value="{{rollfield.name}}"
    data-tooltip="{{localize systemFields.name.label}}"/>
    
    <input class="formula-input" type="text" data-dtype="String"
    name="{{data_path}}.formula" value="{{rollfield.formula}}"
    data-tooltip="{{localize systemFields.formula.label}}"/>

    <h5 class="atoria-expand-control" data-action="expandSection" data-expand-id="{{data_path}}">{{localize systemFields.types.label}}</h5>
    <div class="atoria-expand-direct-data atoria-damage-type-area">
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.bludgeoning" {{checked rollfield.types.bludgeoning}}
            data-tooltip="{{localize systemFields.types.fields.bludgeoning.label}}"/>
            {{localize systemFields.types.fields.bludgeoning.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.piercing" {{checked rollfield.types.piercing}}
            data-tooltip="{{localize systemFields.types.fields.piercing.label}}"/>
            {{localize systemFields.types.fields.piercing.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.slashing" {{checked rollfield.types.slashing}}
            data-tooltip="{{localize systemFields.types.fields.slashing.label}}"/>
            {{localize systemFields.types.fields.slashing.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.acid" {{checked rollfield.types.acid}}
            data-tooltip="{{localize systemFields.types.fields.acid.label}}"/>
            {{localize systemFields.types.fields.acid.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.arcanic" {{checked rollfield.types.arcanic}}
            data-tooltip="{{localize systemFields.types.fields.arcanic.label}}"/>
            {{localize systemFields.types.fields.arcanic.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.fire" {{checked rollfield.types.fire}}
            data-tooltip="{{localize systemFields.types.fields.fire.label}}"/>
            {{localize systemFields.types.fields.fire.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.lightning" {{checked rollfield.types.lightning}}
            data-tooltip="{{localize systemFields.types.fields.lightning.label}}"/>
            {{localize systemFields.types.fields.lightning.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.cold" {{checked rollfield.types.cold}}
            data-tooltip="{{localize systemFields.types.fields.cold.label}}"/>
            {{localize systemFields.types.fields.cold.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.necrotic" {{checked rollfield.types.necrotic}}
            data-tooltip="{{localize systemFields.types.fields.necrotic.label}}"/>
            {{localize systemFields.types.fields.necrotic.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.poison" {{checked rollfield.types.poison}}
            data-tooltip="{{localize systemFields.types.fields.poison.label}}"/>
            {{localize systemFields.types.fields.poison.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.psychic" {{checked rollfield.types.psychic}}
            data-tooltip="{{localize systemFields.types.fields.psychic.label}}"/>
            {{localize systemFields.types.fields.psychic.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.radiant" {{checked rollfield.types.radiant}}
            data-tooltip="{{localize systemFields.types.fields.radiant.label}}"/>
            {{localize systemFields.types.fields.radiant.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.health" {{checked rollfield.types.health}}
            data-tooltip="{{localize systemFields.types.fields.health.label}}"/>
            {{localize systemFields.types.fields.health.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.absorption" {{checked rollfield.types.absorption}}
            data-tooltip="{{localize systemFields.types.fields.absorption.label}}"/>
            {{localize systemFields.types.fields.absorption.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.mana" {{checked rollfield.types.mana}}
            data-tooltip="{{localize systemFields.types.fields.mana.label}}"/>
            {{localize systemFields.types.fields.mana.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.stamina" {{checked rollfield.types.stamina}}
            data-tooltip="{{localize systemFields.types.fields.stamina.label}}"/>
            {{localize systemFields.types.fields.stamina.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.endurance" {{checked rollfield.types.endurance}}
            data-tooltip="{{localize systemFields.types.fields.endurance.label}}"/>
            {{localize systemFields.types.fields.endurance.label}}
        </label>
        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.sanity" {{checked rollfield.types.sanity}}
            data-tooltip="{{localize systemFields.types.fields.sanity.label}}"/>
            {{localize systemFields.types.fields.sanity.label}}
        </label>

        <label>
            <input type="checkbox" data-dtype="Boolean" name="{{data_path}}.types.table" {{checked rollfield.types.table}}
            data-tooltip="{{localize systemFields.types.fields.table.label}}"/>
            {{localize systemFields.types.fields.table.label}}
        </label>

    </div>
</div>