<div class="atoria-simple-header {{#if small_image}}small-image{{/if}}">
    <img class="atoria-document-img" data-action="onEditImage" src="{{document.img}}" data-tooltip="{{document.name}}" alt="{{document.name}}" data-edit="img">
    {{ formInput fields.name value=document.name disabled=(not @root.editable)}}
    <div class="atoria-description flexcol">
        <label for="description">{{localize systemFields.description.label}}:</label>
        <div style="display: grid;">
            <textarea
                class="textarea-auto-resize"
                style="grid-area: 1 / 1 / 2/ 2;"
                rows="1"
                data-name="description" data-dtype="String" name="system.description"
                {{disabled (not editable)}}>{{cleanLines document.system.description}}</textarea>
            <div
            class="textarea-auto-resize-sibling"
            aria-hidden="true"
            style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;"
            >{{cleanLines document.system.description}}</div>
        </div>
    </div>
</div>
